Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

.lintstagedrc:

{
  "docs/sources/**/*.md": [
    "prettier --parser markdown --write",
    "eslint -c ./docs/sources/.eslintrc.js --fix"
  ],
  "*.{js,jsx,css,scss}": "prettier --write",
  "*.{js,jsx}": "eslint --fix",
  "src/data/markdown/**/*.{md,mdx}": "eslint -c ./src/data/markdown/.eslintrc.js --fix"
}

Apply suggestions from code review
  docs/sources/next/using-k6-browser/metrics.md
  docs/sources/next/using-k6-browser/recommended-practices/hybrid-approach-to-performance.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

docs: apply patch from latest
  docs/sources/v0.47.x/using-k6-browser/metrics.md
  docs/sources/v0.47.x/using-k6-browser/recommended-practices/hybrid-approach-to-performance.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add traces output option docs
  docs/sources/next/using-k6/k6-options/reference.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fix jack's script findings
  src/data/markdown/translated-guides/en/02 Using k6/17 HTTP debugging.md
  src/data/markdown/translated-guides/en/02 Using k6/19 Javascript Compatibility Mode.md
  src/data/markdown/translated-guides/en/02 Using k6/20 Workaround Iteration Duration.md
  src/data/markdown/translated-guides/en/07 Testing Guides/01 API load testing.md
  src/data/markdown/translated-guides/en/08 Misc/04 k6 REST API.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update metrics.md
  docs/sources/v0.47.x/using-k6-browser/metrics.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fixed incorrect naming and added true param for isTime
  docs/sources/next/using-k6-browser/metrics.md
  docs/sources/v0.47.x/using-k6-browser/metrics.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update metrics.md
  docs/sources/next/using-k6-browser/metrics.md
  docs/sources/v0.47.x/using-k6-browser/metrics.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add traces output option docs (#1433)
  docs/sources/next/using-k6/k6-options/reference.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add check for running in the root of the repository
  scripts/apply-patch
Due: none

Update README.md
  README.md
Due: none

Update CONTRIBUTING section
  CONTRIBUTING/README.md
Due: none

Update pull_request_template.md
  .github/pull_request_template.md
Due: none

Fix typo
  README.md
Due: none

Update metrics.md
  docs/sources/next/using-k6-browser/metrics.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Shorten instruction
  scripts/apply-patch
Due: none

Update npm start command to run make docs
  package.json
Due: none

Add check for running in the root of the repository (#1438)
  scripts/apply-patch
Due: none

added 1 at the end of the parameter in the code make it comply with the documentation
  docs/sources/next/using-k6/thresholds.md
  docs/sources/v0.47.x/using-k6/thresholds.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

updated param from METRIC_NAME to METRIC_NAME1
  src/data/markdown/translated-guides/en/02 Using k6/04 Thresholds.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

added changes to documentation as well
  docs/sources/next/using-k6/thresholds.md
  docs/sources/v0.47.x/using-k6/thresholds.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

fix comment in the stages section instant-load-increase.md
  src/data/markdown/docs/05 Examples/01 Examples/22 instant-load-increase.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix CSS for js api version banner
  src/components/shared/page-info/page-info.module.scss
  src/templates/docs/javascript-api.js
Due: prettier --write, eslint --fix

Fix typos in M1/M2 mac steps
  docs/sources/next/using-k6-browser/running-browser-tests.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add browser M1/M2 Macs Docker steps
  docs/sources/next/using-k6-browser/running-browser-tests.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update mac docket steps bold nesting
  docs/sources/next/using-k6-browser/running-browser-tests.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update version banner (#1431)
  src/components/shared/version-banner/version-banner.js
  src/layouts/doc-layout/doc-layout.view.js
  src/templates/docs/javascript-api.js
Due: prettier --write, eslint --fix

Add banner linking to Grafana docs (#1432)
  gatsby-config.js
Due: prettier --write, eslint --fix

chore: Update repo README and CONTRIBUTING section (#1439)
  .github/pull_request_template.md
  CONTRIBUTING/README.md
  README.md
Due: none

chore: remove noindex from grafana docs
  docs/sources/_index.md
  docs/sources/next/examples/_index.md
  docs/sources/next/testing-guides/api-load-testing.md
  docs/sources/next/testing-guides/load-testing-websites.md
  docs/sources/next/testing-guides/test-types/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: backport to v0.48
  docs/sources/v0.48.x/examples/_index.md
  docs/sources/v0.48.x/testing-guides/api-load-testing.md
  docs/sources/v0.48.x/testing-guides/load-testing-websites.md
  docs/sources/v0.48.x/testing-guides/test-types/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: backport to v0.47
  docs/sources/v0.47.x/examples/_index.md
  docs/sources/v0.47.x/testing-guides/api-load-testing.md
  docs/sources/v0.47.x/testing-guides/load-testing-websites.md
  docs/sources/v0.47.x/testing-guides/test-types/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: update page weight
  docs/sources/next/using-k6/scenarios/concepts/arrival-rate-vu-allocation.md
  docs/sources/next/using-k6/scenarios/concepts/dropped-iterations.md
  docs/sources/next/using-k6/scenarios/concepts/graceful-stop.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: rename pages and add aliases
  .eslintignore
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/expose-your-application.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/how-it-works.md
  docs/sources/next/using-k6/protocols/ssl-tls/online-certificate-status-protocol-ocsp.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix
