Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

.lintstagedrc:

{
  "docs/sources/**/*.md": [
    "prettier --parser markdown --write",
    "eslint -c ./docs/sources/.eslintrc.js --fix"
  ],
  "*.{js,jsx,css,scss}": "prettier --write",
  "*.{js,jsx}": "eslint --fix",
  "src/data/markdown/**/*.{md,mdx}": "eslint -c ./src/data/markdown/.eslintrc.js --fix"
}

chore: reorder set up
  docs/sources/next/set-up/configure-k6-intellisense.md
  docs/sources/next/set-up/troubleshooting.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: apply updates to v0.50.x
  docs/sources/v0.50.x/examples/_index.md
  docs/sources/v0.50.x/extensions/_index.md
  docs/sources/v0.50.x/get-started/_index.md
  docs/sources/v0.50.x/javascript-api/_index.md
  docs/sources/v0.50.x/results-output/_index.md
  docs/sources/v0.50.x/set-up/_index.md
  docs/sources/v0.50.x/set-up/configure-k6-intellisense.md
  docs/sources/v0.50.x/set-up/install-k6.md
  docs/sources/v0.50.x/set-up/troubleshooting.md
  docs/sources/v0.50.x/testing-guides/_index.md
  docs/sources/v0.50.x/using-k6-browser/_index.md
  docs/sources/v0.50.x/using-k6/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

docs: xk6-enhanced extension renamed to xk6-ts
  src/data/doc-extensions/extensions.json
Due: none

docs: update xk6-enhanced extension to xk6-ts
  docs/sources/next/extensions/explore.md
  docs/sources/v0.50.x/extensions/explore.md
  src/data/doc-extensions/extensions.json
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: move get started to top
  docs/sources/next/get-started/_index.md
  docs/sources/next/set-up/_index.md
  docs/sources/v0.50.x/get-started/_index.md
  docs/sources/v0.50.x/set-up/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: add link to install k6 page to get started
  docs/sources/next/get-started/running-k6.md
  docs/sources/v0.50.x/get-started/running-k6.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: move fine-tuning OS and usage collection pages to Set up
  docs/sources/next/set-up/fine-tuning-os.md
  docs/sources/next/set-up/usage-collection.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: move Troubleshooting to sub-section of Install k6
  docs/sources/next/set-up/install-k6/_index.md
  docs/sources/next/set-up/install-k6/troubleshooting.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: update depth of Set up section shortcode
  docs/sources/next/set-up/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Clean experemental gRPC references
  docs/sources/next/javascript-api/k6-net-grpc/client/client-connect-connect-address-params.md
  docs/sources/next/javascript-api/k6-net-grpc/stream/_index.md
  docs/sources/v0.50.x/javascript-api/k6-net-grpc/client/client-connect-connect-address-params.md
  docs/sources/v0.50.x/javascript-api/k6-net-grpc/stream/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: update fine-tuning-os.md
  docs/sources/next/set-up/fine-tuning-os.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: update v0.50.x
  docs/sources/v0.50.x/set-up/_index.md
  docs/sources/v0.50.x/set-up/fine-tuning-os.md
  docs/sources/v0.50.x/set-up/install-k6/_index.md
  docs/sources/v0.50.x/set-up/install-k6/troubleshooting.md
  docs/sources/v0.50.x/set-up/usage-collection.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: update links to new set-up section
  docs/sources/next/_index.md
  docs/sources/next/examples/get-started-with-k6/_index.md
  docs/sources/next/misc/integrations.md
  docs/sources/next/set-up/fine-tune-os.md
  docs/sources/next/set-up/install-k6/_index.md
  docs/sources/next/testing-guides/running-large-tests.md
  docs/sources/next/using-k6-browser/running-browser-tests.md
  docs/sources/next/using-k6/k6-options/reference.md
  docs/sources/next/using-k6/test-authoring/create-tests-from-recordings/using-the-har-converter.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: apply changes to v0.50.x
  docs/sources/v0.50.x/_index.md
  docs/sources/v0.50.x/examples/get-started-with-k6/_index.md
  docs/sources/v0.50.x/misc/integrations.md
  docs/sources/v0.50.x/set-up/fine-tune-os.md
  docs/sources/v0.50.x/set-up/install-k6/_index.md
  docs/sources/v0.50.x/testing-guides/running-large-tests.md
  docs/sources/v0.50.x/using-k6-browser/running-browser-tests.md
  docs/sources/v0.50.x/using-k6/k6-options/reference.md
  docs/sources/v0.50.x/using-k6/test-authoring/create-tests-from-recordings/using-the-har-converter.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add xk6-sse extension
  src/data/doc-extensions/extensions.json
Due: none

chore: add next steps to install-k6
  docs/sources/next/set-up/install-k6/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: apply changes to v0.50.x
  docs/sources/v0.50.x/set-up/install-k6/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Explain 'VU' term in 'Get started' tutorial
  docs/sources/next/examples/get-started-with-k6/test-for-performance.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/200 Test for performance.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: fix misleading description on xk6-redis
  docs/sources/next/javascript-api/k6-experimental/redis/redis-options.md
  docs/sources/v0.48.x/javascript-api/k6-experimental/redis/redis-options.md
  docs/sources/v0.49.x/javascript-api/k6-experimental/redis/redis-options.md
  docs/sources/v0.50.x/javascript-api/k6-experimental/redis/redis-options.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Explain 'VU' term in 'Get started' tutorial (#1542)
  docs/sources/next/examples/get-started-with-k6/test-for-performance.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/200 Test for performance.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Update extensions.json
  src/data/doc-extensions/extensions.json
Due: none

docs: fix misleading description on xk6-redis (#1543)
  docs/sources/next/javascript-api/k6-experimental/redis/redis-options.md
  docs/sources/v0.48.x/javascript-api/k6-experimental/redis/redis-options.md
  docs/sources/v0.49.x/javascript-api/k6-experimental/redis/redis-options.md
  docs/sources/v0.50.x/javascript-api/k6-experimental/redis/redis-options.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Remove pinned version of grafana/docs-base
  docs/variables.mk
Due: none

Update 00 Netdata.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 Netdata.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Removed duplication of ${exec.instance.iterationsCompleted}
  src/data/markdown/translated-guides/en/02 Using k6/12 Execution context variables.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove pinned version of grafana/docs-base (#1545)
  docs/variables.mk
Due: none

experimental-redis: mention minIdleConns defaults
  docs/sources/next/javascript-api/k6-experimental/redis/redis-options.md
  docs/sources/v0.50.x/javascript-api/k6-experimental/redis/redis-options.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Relocate the `xk6-disruptor API` to the Disruptor guide
  docs/sources/next/_index.md
  docs/sources/next/javascript-api/xk6-disruptor/_index.md
  docs/sources/next/javascript-api/xk6-disruptor/faults/_index.md
  docs/sources/next/javascript-api/xk6-disruptor/get-started/_index.md
  docs/sources/next/javascript-api/xk6-disruptor/servicedisruptor/injecthttpfaults.md
  docs/sources/next/misc/integrations.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/_index.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/examples/_index.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/examples/inject-grpc-faults-into-service.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/examples/inject-http-faults-into-pod.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/first-steps.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/how-it-works.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/installation.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/_index.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/faults/_index.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/faults/grpc.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/faults/http.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/faults/pod-termination.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/poddisruptor/_index.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/poddisruptor/constructor.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/poddisruptor/injectgrpcfaults.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/poddisruptor/injecthttpfaults.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/poddisruptor/terminate-pods.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/servicedisruptor/_index.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/servicedisruptor/constructor.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/servicedisruptor/injectgrpcfaults.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/servicedisruptor/injecthttpfaults.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/servicedisruptor/terminate-pods.md
  docs/sources/next/using-k6-browser/recommended-practices/hybrid-approach-to-performance.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add xk6-sse extension in explore.md
  docs/sources/v0.50.x/extensions/explore.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add xk6-sse extension in next explore.md
  docs/sources/next/extensions/explore.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Resources: added the `k6-oss-workshop`
  docs/sources/next/get-started/resources.md
  docs/sources/v0.50.x/get-started/resources.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add docs for jslib http-instrumentation-pyroscope
  docs/sources/next/javascript-api/jslib/_index.md
  docs/sources/next/javascript-api/jslib/http-instrumentation-pyroscope/_index.md
  docs/sources/next/javascript-api/jslib/http-instrumentation-pyroscope/client.md
  docs/sources/next/javascript-api/jslib/http-instrumentation-pyroscope/instrumenthttp.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add xk6-sse extension (#1541)
  docs/sources/next/extensions/explore.md
  docs/sources/v0.50.x/extensions/explore.md
  src/data/doc-extensions/extensions.json
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Resources: added the `k6-oss-workshop` (#1551)
  docs/sources/next/get-started/resources.md
  docs/sources/v0.50.x/get-started/resources.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Relocate the `xk6-disruptor API` to the Disruptor guide (#1549)
  docs/sources/next/_index.md
  docs/sources/next/javascript-api/xk6-disruptor/_index.md
  docs/sources/next/javascript-api/xk6-disruptor/faults/_index.md
  docs/sources/next/javascript-api/xk6-disruptor/get-started/_index.md
  docs/sources/next/javascript-api/xk6-disruptor/servicedisruptor/injecthttpfaults.md
  docs/sources/next/misc/integrations.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/_index.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/examples/_index.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/examples/inject-grpc-faults-into-service.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/examples/inject-http-faults-into-pod.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/first-steps.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/how-it-works.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/installation.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/_index.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/faults/_index.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/faults/grpc.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/faults/http.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/faults/pod-termination.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/poddisruptor/_index.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/poddisruptor/constructor.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/poddisruptor/injectgrpcfaults.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/poddisruptor/injecthttpfaults.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/poddisruptor/terminate-pods.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/servicedisruptor/_index.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/servicedisruptor/constructor.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/servicedisruptor/injectgrpcfaults.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/servicedisruptor/injecthttpfaults.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/xk6-disruptor/servicedisruptor/terminate-pods.md
  docs/sources/next/using-k6-browser/recommended-practices/hybrid-approach-to-performance.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update 'VUh' to 'VUH' for consistency with writers-toolkit
  docs/sources/next/results-output/real-time/cloud.md
  docs/sources/v0.48.x/results-output/real-time/cloud.md
  docs/sources/v0.49.x/results-output/real-time/cloud.md
  docs/sources/v0.50.x/results-output/real-time/cloud.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: add basic structure for k6-operator docs
  docs/sources/v0.50.x/set-up/set-up-distributed-k6/_index.md
  docs/sources/v0.50.x/set-up/set-up-distributed-k6/install-k6-operator.md
  docs/sources/v0.50.x/set-up/set-up-distributed-k6/troubleshooting.md
  docs/sources/v0.50.x/set-up/set-up-distributed-k6/upgrade-k6-operator.md
  docs/sources/v0.50.x/set-up/set-up-distributed-k6/usage/_index.md
  docs/sources/v0.50.x/set-up/set-up-distributed-k6/usage/configure-scripts-in-testrun-crd.md
  docs/sources/v0.50.x/set-up/set-up-distributed-k6/usage/extensions.md
  docs/sources/v0.50.x/set-up/set-up-distributed-k6/usage/reference.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: hide reference for now
  docs/sources/v0.50.x/set-up/set-up-distributed-k6/usage/reference.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix
