Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix k6/experimental page's csv section link
  docs/sources/k6/next/shared/javascript-api/k6-experimental.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply suggestions from code review
  docs/sources/k6/next/javascript-api/k6-experimental/csv/Options.md
  docs/sources/k6/next/javascript-api/k6-experimental/csv/Parser.md
  docs/sources/k6/next/javascript-api/k6-experimental/csv/parse.md
  docs/sources/k6/next/shared/javascript-api/k6-experimental.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fix links, few Vale issues
  docs/sources/k6/next/testing-guides/automated-performance-testing.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Skip code block
  docs/sources/k6/next/testing-guides/automated-performance-testing.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply to latest and previous versions
  docs/sources/k6/v0.54.x/testing-guides/automated-performance-testing.md
  docs/sources/k6/v0.55.x/testing-guides/automated-performance-testing.md
  docs/sources/k6/v0.56.x/testing-guides/automated-performance-testing.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update `make docs` procedure
  docs/docs.mk
Due: none

Update docs/sources/k6/next/javascript-api/k6-experimental/csv/Options.md
  docs/sources/k6/next/javascript-api/k6-experimental/csv/Options.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fix links, few Vale issues in Automated performance testing guide (#1851)
  docs/sources/k6/next/testing-guides/automated-performance-testing.md
  docs/sources/k6/v0.54.x/testing-guides/automated-performance-testing.md
  docs/sources/k6/v0.55.x/testing-guides/automated-performance-testing.md
  docs/sources/k6/v0.56.x/testing-guides/automated-performance-testing.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

TS support is on by default and reword compatibility-mode page
  docs/sources/k6/next/get-started/write-your-first-test.md
  docs/sources/k6/next/using-k6/javascript-typescript-compatibility-mode.md
  docs/sources/k6/next/using-k6/modules.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Skip example in changed files
  docs/sources/k6/next/get-started/write-your-first-test.md
  docs/sources/k6/next/using-k6/modules.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update .eslintignore
  .eslintignore
Due: none

Update compatibility mode docs
  docs/sources/k6/next/using-k6/javascript-typescript-compatibility-mode.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update docs/sources/k6/next/using-k6/javascript-typescript-compatibility-mode.md
  docs/sources/k6/next/using-k6/javascript-typescript-compatibility-mode.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Move explanation about base/extended difference
  docs/sources/k6/next/using-k6/javascript-typescript-compatibility-mode.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add draft for k6 new command docs
  docs/sources/k6/next/using-k6/test-authoring/create-tests-from-recordings/_index.md
  docs/sources/k6/next/using-k6/test-authoring/k6-new.md
  docs/sources/k6/next/using-k6/test-authoring/test-builder.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Remove gatsby scripts
  package.json
Due: none

Remove scripts that operate on JS, JSX, CSS, or SCSS files
  package.json
Due: none

Remove unused supporting files and dependencies
  .eslintignore
  .eslintrc
  jsconfig.json
  package.json
Due: none

Remove archive-version script
  package.json
Due: none

Remove Vale configuration
  .vale.ini
  .vale/Vocab/docs/accept.txt
  .vale/write-good/allows-you-to.yml
  .vale/write-good/in-order-to.yml
  .vale/write-good/passive.yml_old
  .vale/write-good/there-is.yml
  .vale/write-good/weasel.yml_old
Due: none

Remove linting of JS, JSX, CSS, and SCSS files and old, removed Markdown files
  .lintstagedrc
Due: none

Update package lock
  package-lock.json
Due: none

Remove prettier exceptions for non-existent directories
  .prettierignore
Due: none

Ensure `npx lint-staged` runs
  docs/sources/.eslintrc.js
Due: prettier --write, eslint --fix

Update Kind from K6 to TestRun
  docs/sources/k6/next/get-started/running-k6.md
  docs/sources/k6/v0.56.x/get-started/running-k6.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Remove deprecation warning
  docs/sources/k6/next/set-up/set-up-distributed-k6/install-k6-operator.md
  docs/sources/k6/v0.56.x/set-up/set-up-distributed-k6/install-k6-operator.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fix small typo in api-load-testing.md
  docs/sources/k6/next/testing-guides/api-load-testing.md
  docs/sources/k6/v0.56.x/testing-guides/api-load-testing.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fix url to point to the correct section of the docs
  docs/sources/k6/next/misc/archive.md
  docs/sources/k6/v0.56.x/misc/archive.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fix small typo in api-load-testing.md (#1865)
  docs/sources/k6/next/testing-guides/api-load-testing.md
  docs/sources/k6/v0.56.x/testing-guides/api-load-testing.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update Kind `K6` to `TestRun` (#1858)
  docs/sources/k6/next/get-started/running-k6.md
  docs/sources/k6/next/set-up/set-up-distributed-k6/install-k6-operator.md
  docs/sources/k6/v0.56.x/get-started/running-k6.md
  docs/sources/k6/v0.56.x/set-up/set-up-distributed-k6/install-k6-operator.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fix url to point to the correct section of the docs (#1866)
  docs/sources/k6/next/misc/archive.md
  docs/sources/k6/v0.56.x/misc/archive.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fetch the latest changes from next
  docs/sources/k6/v0.57.x/get-started/running-k6.md
  docs/sources/k6/v0.57.x/javascript-api/k6-experimental/csv/Options.md
  docs/sources/k6/v0.57.x/misc/archive.md
  docs/sources/k6/v0.57.x/set-up/set-up-distributed-k6/install-k6-operator.md
  docs/sources/k6/v0.57.x/shared/javascript-api/k6-experimental.md
  docs/sources/k6/v0.57.x/testing-guides/api-load-testing.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update docs/sources/k6/next/using-k6/test-authoring/k6-new.md
  docs/sources/k6/next/using-k6/test-authoring/k6-new.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Rename k6 new page
  docs/sources/k6/next/using-k6/test-authoring/create-test-script-using-the-cli.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply changes to v0.57
  docs/sources/k6/v0.57.x/using-k6/test-authoring/create-test-script-using-the-cli.md
  docs/sources/k6/v0.57.x/using-k6/test-authoring/create-tests-from-recordings/_index.md
  docs/sources/k6/v0.57.x/using-k6/test-authoring/test-builder.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Path conditions:
  prettier --parser markdown --write: any of: docs/sources/**/*.md
  eslint -c ./docs/sources/.eslintrc.js --fix: any of: docs/sources/**/*.md
  prettier --write: any of: *.{js,jsx,css,scss}
  eslint --fix: any of: *.{js,jsx}
  eslint -c ./src/data/markdown/.eslintrc.js --fix: any of: src/data/markdown/**/*.{md,mdx}
