Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: req_duration to http_req_duration (#1504)
  docs/sources/v0.49.x/using-k6/metrics/_index.md
  src/data/markdown/translated-guides/en/02 Using k6/02 Metrics.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Update `make docs` procedure
  docs/make-docs
Due: none

Adjust constant-arrival-rate example and notes
  docs/sources/next/using-k6/scenarios/executors/constant-arrival-rate.md
  docs/sources/v0.47.x/using-k6/scenarios/executors/constant-arrival-rate.md
  docs/sources/v0.48.x/using-k6/scenarios/executors/constant-arrival-rate.md
  docs/sources/v0.49.x/using-k6/scenarios/executors/constant-arrival-rate.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Minor changes on constant-arrival-rate docs (#1487)
  docs/sources/next/using-k6/scenarios/executors/constant-arrival-rate.md
  docs/sources/v0.47.x/using-k6/scenarios/executors/constant-arrival-rate.md
  docs/sources/v0.48.x/using-k6/scenarios/executors/constant-arrival-rate.md
  docs/sources/v0.49.x/using-k6/scenarios/executors/constant-arrival-rate.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: add redirect from stress testing to grafana page
  gatsby-node.js
  src/data/markdown/translated-guides/en/06 Test Types/03 Stress testing.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

add redirect to front matter
  src/data/markdown/translated-guides/en/06 Test Types/03 Stress testing.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update 03 Stress testing.md
  src/data/markdown/translated-guides/en/06 Test Types/03 Stress testing.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Delete 03 Stress testing.md
  src/data/markdown/translated-guides/en/06 Test Types/03 Stress testing.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Create 03 Stress Testing.md
  src/data/markdown/translated-guides/en/06 Test Types/03 Stress Testing.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: add redirect from stress testing to grafana page (#1507)
  gatsby-node.js
  src/data/markdown/translated-guides/en/06 Test Types/03 Stress Testing.md
  src/data/markdown/translated-guides/en/06 Test Types/03 Stress testing.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Update Modules and JavaScript Mode docs
  docs/sources/next/extensions/build-k6-binary-using-docker.md
  docs/sources/next/using-k6/javascript-compatibility-mode.md
  docs/sources/next/using-k6/modules.md
  docs/sources/next/using-k6/test-authoring/_index.md
  docs/sources/v0.47.x/extensions/build-k6-binary-using-docker.md
  docs/sources/v0.47.x/using-k6/javascript-compatibility-mode.md
  docs/sources/v0.47.x/using-k6/modules.md
  docs/sources/v0.47.x/using-k6/test-authoring/_index.md
  docs/sources/v0.48.x/extensions/build-k6-binary-using-docker.md
  docs/sources/v0.48.x/using-k6/javascript-compatibility-mode.md
  docs/sources/v0.48.x/using-k6/modules.md
  docs/sources/v0.48.x/using-k6/test-authoring/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update Javascript Compatibility Mode
  docs/sources/next/using-k6/javascript-compatibility-mode.md
  docs/sources/next/using-k6/test-authoring/_index.md
  docs/sources/v0.47.x/using-k6/javascript-compatibility-mode.md
  docs/sources/v0.47.x/using-k6/test-authoring/_index.md
  docs/sources/v0.48.x/using-k6/javascript-compatibility-mode.md
  docs/sources/v0.48.x/using-k6/test-authoring/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Port changes to v0.49.x
  docs/sources/v0.49.x/extensions/build-k6-binary-using-docker.md
  docs/sources/v0.49.x/using-k6/javascript-compatibility-mode.md
  docs/sources/v0.49.x/using-k6/modules.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update docs/sources/next/using-k6/javascript-compatibility-mode.md
  docs/sources/next/using-k6/javascript-compatibility-mode.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update docs/sources/next/using-k6/modules.md
  docs/sources/next/using-k6/modules.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Port Heitor changes to previous versions
  docs/sources/v0.47.x/using-k6/javascript-compatibility-mode.md
  docs/sources/v0.47.x/using-k6/modules.md
  docs/sources/v0.48.x/using-k6/javascript-compatibility-mode.md
  docs/sources/v0.48.x/using-k6/modules.md
  docs/sources/v0.49.x/using-k6/javascript-compatibility-mode.md
  docs/sources/v0.49.x/using-k6/modules.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Remove mention about improving startup time
  docs/sources/next/using-k6/javascript-compatibility-mode.md
  docs/sources/v0.47.x/using-k6/javascript-compatibility-mode.md
  docs/sources/v0.48.x/using-k6/javascript-compatibility-mode.md
  docs/sources/v0.49.x/using-k6/javascript-compatibility-mode.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Correct the Babel polyfill features
  docs/sources/next/using-k6/javascript-compatibility-mode.md
  docs/sources/v0.47.x/using-k6/javascript-compatibility-mode.md
  docs/sources/v0.48.x/using-k6/javascript-compatibility-mode.md
  docs/sources/v0.49.x/using-k6/javascript-compatibility-mode.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update `Extension modules` instructions
  docs/sources/next/using-k6/modules.md
  docs/sources/v0.47.x/using-k6/modules.md
  docs/sources/v0.48.x/using-k6/modules.md
  docs/sources/v0.49.x/using-k6/modules.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fix brower typo
  docs/sources/v0.47.x/using-k6/modules.md
  docs/sources/v0.48.x/using-k6/modules.md
  docs/sources/v0.49.x/using-k6/modules.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update `Modules` and `JavaScript Compatibility Mode` docs (#1489)
  docs/sources/next/extensions/build-k6-binary-using-docker.md
  docs/sources/next/using-k6/javascript-compatibility-mode.md
  docs/sources/next/using-k6/modules.md
  docs/sources/v0.47.x/extensions/build-k6-binary-using-docker.md
  docs/sources/v0.47.x/using-k6/javascript-compatibility-mode.md
  docs/sources/v0.47.x/using-k6/modules.md
  docs/sources/v0.48.x/extensions/build-k6-binary-using-docker.md
  docs/sources/v0.48.x/using-k6/javascript-compatibility-mode.md
  docs/sources/v0.48.x/using-k6/modules.md
  docs/sources/v0.49.x/extensions/build-k6-binary-using-docker.md
  docs/sources/v0.49.x/using-k6/javascript-compatibility-mode.md
  docs/sources/v0.49.x/using-k6/modules.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: add redirects to load test types pages
  gatsby-node.js
  src/data/markdown/translated-guides/en/06 Test Types/00 Load test types.md
  src/data/markdown/translated-guides/en/06 Test Types/01 Smoke Testing.md
  src/data/markdown/translated-guides/en/06 Test Types/02 Load Testing.md
  src/data/markdown/translated-guides/en/06 Test Types/05 Soak Testing.md
  src/data/markdown/translated-guides/en/06 Test Types/06-spike-testing.md
  src/data/markdown/translated-guides/en/06 Test Types/07-breakpoint-testing.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: add redirects to load test types pages (#1509)
  gatsby-node.js
  src/data/markdown/translated-guides/en/06 Test Types/00 Load test types.md
  src/data/markdown/translated-guides/en/06 Test Types/01 Smoke Testing.md
  src/data/markdown/translated-guides/en/06 Test Types/02 Load Testing.md
  src/data/markdown/translated-guides/en/06 Test Types/05 Soak Testing.md
  src/data/markdown/translated-guides/en/06 Test Types/06-spike-testing.md
  src/data/markdown/translated-guides/en/06 Test Types/07-breakpoint-testing.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Update running-k6.md
  docs/sources/v0.49.x/get-started/running-k6.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: update CONTRIBUTING and PR template with number of supported versions
  .github/pull_request_template.md
  CONTRIBUTING/README.md
Due: none

Path conditions:
  prettier --parser markdown --write: any of: docs/sources/**/*.md
  eslint -c ./docs/sources/.eslintrc.js --fix: any of: docs/sources/**/*.md
  prettier --write: any of: *.{js,jsx,css,scss}
  eslint --fix: any of: *.{js,jsx}
  eslint -c ./src/data/markdown/.eslintrc.js --fix: any of: src/data/markdown/**/*.{md,mdx}
