Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

.lintstagedrc:

{
  "docs/sources/**/*.md": [
    "prettier --parser markdown --write",
    "eslint -c ./docs/sources/.eslintrc.js --fix"
  ],
  "*.{js,jsx,css,scss}": "prettier --write",
  "*.{js,jsx}": "eslint --fix",
  "src/data/markdown/**/*.{md,mdx}": "eslint -c ./src/data/markdown/.eslintrc.js --fix"
}

Apply to previous versions
  docs/sources/k6/v0.53.x/k6-studio/_index.md
  docs/sources/k6/v0.54.x/k6-studio/_index.md
  docs/sources/k6/v0.55.x/k6-studio/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fix examples link
  docs/sources/k6/next/_index.md
  docs/sources/k6/v0.52.x/_index.md
  docs/sources/k6/v0.53.x/_index.md
  docs/sources/k6/v0.54.x/_index.md
  docs/sources/k6/v0.55.x/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add Grafana Cloud k6 and k6 Studio links to homepage
  docs/sources/k6/next/_index.md
  docs/sources/k6/v0.55.x/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update references to docs/sources/ to include /k6 (#1820)
  .github/pull_request_template.md
  CONTRIBUTING/README.md
Due: none

Update `make docs` procedure
  docs/make-docs
Due: none

Add md-k6 script
  .github/workflows/run-code-blocks.yml
  docs/sources/k6/next/using-k6/checks.md
  scripts/md-k6.py
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Undo change
  docs/sources/k6/next/using-k6/checks.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Combine with ESLint skip
  CONTRIBUTING/README.md
  scripts/md-k6.py
Due: none

Formatting
  CONTRIBUTING/README.md
Due: none

Add deprecation warning to k6 DevTools recorder page
  docs/sources/k6/next/examples/crawl-webpage.md
  docs/sources/k6/next/using-k6/test-authoring/create-tests-from-recordings/_index.md
  docs/sources/k6/next/using-k6/test-authoring/create-tests-from-recordings/using-the-devtools-recorder.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply to v0.55
  docs/sources/k6/v0.55.x/examples/crawl-webpage.md
  docs/sources/k6/v0.55.x/using-k6/test-authoring/create-tests-from-recordings/_index.md
  docs/sources/k6/v0.55.x/using-k6/test-authoring/create-tests-from-recordings/using-the-devtools-recorder.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply to v0.54 and v0.53
  docs/sources/k6/v0.53.x/examples/crawl-webpage.md
  docs/sources/k6/v0.53.x/using-k6/test-authoring/create-tests-from-recordings/_index.md
  docs/sources/k6/v0.53.x/using-k6/test-authoring/create-tests-from-recordings/using-the-devtools-recorder.md
  docs/sources/k6/v0.54.x/examples/crawl-webpage.md
  docs/sources/k6/v0.54.x/using-k6/test-authoring/create-tests-from-recordings/_index.md
  docs/sources/k6/v0.54.x/using-k6/test-authoring/create-tests-from-recordings/using-the-devtools-recorder.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update some httpbin examples
  docs/sources/k6/next/get-started/running-k6.md
  docs/sources/k6/next/javascript-api/k6-http/asyncrequest.md
  docs/sources/k6/next/javascript-api/k6-http/del.md
  docs/sources/k6/next/javascript-api/k6-http/expected-statuses.md
  docs/sources/k6/next/javascript-api/k6-http/patch.md
  docs/sources/k6/next/javascript-api/k6-http/put.md
  docs/sources/k6/next/testing-guides/api-load-testing.md
  scripts/md-k6.py
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Form example
  docs/sources/k6/next/javascript-api/k6-http/response/response-submitform---params.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Remove httpbin references (97 remain)
  docs/sources/k6/next/javascript-api/k6-http/batch.md
  docs/sources/k6/next/javascript-api/k6-http/response/response-clicklink---params.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update CONTRIBUTING/README.md
  CONTRIBUTING/README.md
Due: none

Add deprecation warning to k6 DevTools recorder page (#1830)
  docs/sources/k6/next/examples/crawl-webpage.md
  docs/sources/k6/next/using-k6/test-authoring/create-tests-from-recordings/_index.md
  docs/sources/k6/next/using-k6/test-authoring/create-tests-from-recordings/using-the-devtools-recorder.md
  docs/sources/k6/v0.53.x/examples/crawl-webpage.md
  docs/sources/k6/v0.53.x/using-k6/test-authoring/create-tests-from-recordings/_index.md
  docs/sources/k6/v0.53.x/using-k6/test-authoring/create-tests-from-recordings/using-the-devtools-recorder.md
  docs/sources/k6/v0.54.x/examples/crawl-webpage.md
  docs/sources/k6/v0.54.x/using-k6/test-authoring/create-tests-from-recordings/_index.md
  docs/sources/k6/v0.54.x/using-k6/test-authoring/create-tests-from-recordings/using-the-devtools-recorder.md
  docs/sources/k6/v0.55.x/examples/crawl-webpage.md
  docs/sources/k6/v0.55.x/using-k6/test-authoring/create-tests-from-recordings/_index.md
  docs/sources/k6/v0.55.x/using-k6/test-authoring/create-tests-from-recordings/using-the-devtools-recorder.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add links to k6 Studio and Grafana Cloud k6 docs (#1825)
  docs/sources/k6/next/_index.md
  docs/sources/k6/next/k6-studio/_index.md
  docs/sources/k6/v0.52.x/_index.md
  docs/sources/k6/v0.53.x/_index.md
  docs/sources/k6/v0.53.x/k6-studio/_index.md
  docs/sources/k6/v0.54.x/_index.md
  docs/sources/k6/v0.54.x/k6-studio/_index.md
  docs/sources/k6/v0.55.x/_index.md
  docs/sources/k6/v0.55.x/k6-studio/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Remove workflows
  .github/workflows/pr-deploy.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

Add Use Chai with k6 testing guide
  docs/sources/k6/next/javascript-api/jslib/k6chaijs/_index.md
  docs/sources/k6/next/testing-guides/use-chai-with-k6.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Remove httpbin references (75 remain)
  docs/sources/k6/next/javascript-api/jslib/utils/check.md
  docs/sources/k6/next/javascript-api/k6-data/sharedarray.md
  docs/sources/k6/next/javascript-api/k6-http/cookiejar/_index.md
  docs/sources/k6/next/javascript-api/k6-http/cookiejar/cookiejar-clear.md
  docs/sources/k6/next/javascript-api/k6-http/cookiejar/cookiejar-set.md
  docs/sources/k6/next/javascript-api/k6-http/params.md
  docs/sources/k6/next/javascript-api/k6-http/post.md
  docs/sources/k6/next/javascript-api/k6-http/request.md
  scripts/md-k6.py
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Remove httpbin references (59 remain)
  docs/sources/k6/next/examples/http-authentication.md
  docs/sources/k6/next/javascript-api/jslib/httpx/patch.md
  docs/sources/k6/next/javascript-api/k6-http/cookiejar/cookiejar-cookiesforurl.md
  docs/sources/k6/next/javascript-api/k6-http/cookiejar/cookiejar-delete.md
  docs/sources/k6/next/javascript-api/k6-http/options.md
  docs/sources/k6/next/javascript-api/k6-http/set-response-callback.md
  docs/sources/k6/next/results-output/real-time/json.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Remove httpbin references (13 remain)
  docs/sources/k6/next/examples/cookies-example.md
  docs/sources/k6/next/examples/http-authentication.md
  docs/sources/k6/next/javascript-api/jslib/httpx/asyncrequest.md
  docs/sources/k6/next/javascript-api/jslib/httpx/delete.md
  docs/sources/k6/next/javascript-api/jslib/httpx/head.md
  docs/sources/k6/next/javascript-api/jslib/httpx/options.md
  docs/sources/k6/next/javascript-api/jslib/httpx/put.md
  docs/sources/k6/next/javascript-api/jslib/httpx/request.md
  docs/sources/k6/next/javascript-api/jslib/httpx/trace.md
  docs/sources/k6/next/javascript-api/k6-browser/response/json.md
  docs/sources/k6/next/javascript-api/k6/check.md
  docs/sources/k6/next/results-output/end-of-test/custom-summary.md
  docs/sources/k6/next/using-k6/cookies.md
  docs/sources/k6/next/using-k6/tags-and-groups.md
  docs/sources/k6/next/using-k6/thresholds.md
  scripts/md-k6.py
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fixed docker command in get started doc
  docs/sources/k6/next/get-started/running-k6.md
  docs/sources/k6/v0.48.x/get-started/running-k6.md
  docs/sources/k6/v0.49.x/get-started/running-k6.md
  docs/sources/k6/v0.50.x/get-started/running-k6.md
  docs/sources/k6/v0.51.x/get-started/running-k6.md
  docs/sources/k6/v0.52.x/get-started/running-k6.md
  docs/sources/k6/v0.53.x/get-started/running-k6.md
  docs/sources/k6/v0.54.x/get-started/running-k6.md
  docs/sources/k6/v0.55.x/get-started/running-k6.md
  docs/sources/k6/v0.56.x/get-started/running-k6.md
  src/data/markdown/translated-guides/en/01 Get started/03 Running k6.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove httpbin references (0 remain)
  docs/sources/k6/next/examples/correlation-and-dynamic-data.md
  docs/sources/k6/next/examples/data-uploads.md
  docs/sources/k6/next/examples/get-timings-for-an-http-metric.md
  docs/sources/k6/next/examples/html-forms.md
  docs/sources/k6/next/get-started/resources.md
  docs/sources/k6/next/javascript-api/k6-browser/browsercontext/setdefaultnavigationtimeout.md
  docs/sources/k6/next/using-k6/metrics/create-custom-metrics.md
  docs/sources/k6/next/using-k6/scenarios/concepts/graceful-stop.md
  docs/sources/k6/next/using-k6/scenarios/concepts/open-vs-closed.md
  docs/sources/k6/next/using-k6/test-lifecycle.md
  docs/sources/k6/next/using-k6/workaround-iteration-duration.md
  scripts/md-k6.py
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fix
  docs/sources/k6/next/using-k6/metrics/create-custom-metrics.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Extend readme
  CONTRIBUTING/README.md
Due: none

Skip example code blocks
  docs/sources/k6/next/testing-guides/use-chai-with-k6.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Skip code block in k6chaijs index file
  docs/sources/k6/next/javascript-api/jslib/k6chaijs/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply to v0.56.x
  docs/sources/k6/v0.56.x/javascript-api/jslib/k6chaijs/_index.md
  docs/sources/k6/v0.56.x/testing-guides/use-chai-with-k6.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add Use Chai with k6 testing guide (#1835)
  docs/sources/k6/next/javascript-api/jslib/k6chaijs/_index.md
  docs/sources/k6/next/testing-guides/use-chai-with-k6.md
  docs/sources/k6/v0.56.x/javascript-api/jslib/k6chaijs/_index.md
  docs/sources/k6/v0.56.x/testing-guides/use-chai-with-k6.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Try fix
  .github/workflows/run-code-blocks.yml
Due: none

Shorten duration
  .github/workflows/run-code-blocks.yml
Due: none

Skip script
  docs/sources/k6/next/examples/data-uploads.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Skip scripts
  docs/sources/k6/next/examples/data-uploads.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix
