Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Add browser module page. throttleNetwork doc
  docs/sources/next/javascript-api/k6-experimental/browser/page/_index.md
  docs/sources/next/javascript-api/k6-experimental/browser/page/throttlenetwork.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add browser module page.throttleCPU documentation
  docs/sources/next/javascript-api/k6-experimental/browser/page/_index.md
  docs/sources/next/javascript-api/k6-experimental/browser/page/throttlecpu.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Suggest using `k6 new` instead of copying sample script
  docs/sources/next/get-started/running-k6.md
  src/data/markdown/translated-guides/en/01 Get started/03 Running k6.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Document the K6_INFLUXDB_HTTP_PROXY
  docs/sources/next/results-output/real-time/influxdb.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Document a new metrics restriction
  docs/sources/next/using-k6/metrics/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

fix JSON for run example test
  src/data/markdown/translated-guides/en/07 Testing Guides/01 API load testing.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Apply changes to current version
  docs/sources/v0.47.x/results-output/real-time/_index.md
  docs/sources/v0.47.x/results-output/real-time/cloud.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update results output to highlight cloud option (#1421)
  docs/sources/next/results-output/real-time/_index.md
  docs/sources/next/results-output/real-time/cloud.md
  docs/sources/v0.47.x/results-output/real-time/_index.md
  docs/sources/v0.47.x/results-output/real-time/cloud.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

fix JSON for run example test (#1427)
  src/data/markdown/translated-guides/en/07 Testing Guides/01 API load testing.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Apply suggestions from code review
  docs/sources/next/javascript-api/k6-experimental/_index.md
  docs/sources/next/javascript-api/k6-experimental/fs/FileInfo.md
  docs/sources/next/javascript-api/k6-experimental/fs/SeekMode.md
  docs/sources/next/javascript-api/k6-experimental/fs/_index.md
  docs/sources/next/javascript-api/k6-experimental/fs/file/_index.md
  docs/sources/next/javascript-api/k6-experimental/fs/file/read.md
  docs/sources/next/javascript-api/k6-experimental/fs/file/seek.md
  docs/sources/next/javascript-api/k6-experimental/fs/file/stat.md
  docs/sources/next/javascript-api/k6-experimental/fs/open.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update docs/sources/next/javascript-api/k6-experimental/fs/_index.md
  docs/sources/next/javascript-api/k6-experimental/fs/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Set `canonicalUrl` for non-markdown pages
  src/utils/seo-metadata.js
Due: prettier --write, eslint --fix

Update canonicalUrl for non-markdown pages
  src/utils/seo-metadata.js
Due: prettier --write, eslint --fix

Update canonicalUrl for xk6-disruptor
  src/data/markdown/docs/40 xk6-disruptor/00 About.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/01 First steps.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/02 Requirements.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/03 Installation.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/04 Expose  Your Application.md
  src/data/markdown/docs/40 xk6-disruptor/02 Explanations/01 How  it works.md
  src/data/markdown/docs/40 xk6-disruptor/04 Examples.md
  src/data/markdown/docs/40 xk6-disruptor/04 Examples/01 Inject Grpc faults into Service.md
  src/data/markdown/docs/40 xk6-disruptor/04 Examples/02 Inject HTTP faults into Pod.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

prepare `canonicalURLs` option on `Examples` and `Extensions` folders
  src/data/markdown/docs/05 Examples/01 Examples/01 single-request.md
  src/data/markdown/docs/05 Examples/01 Examples/02 http-authentication.md
  src/data/markdown/docs/05 Examples/01 Examples/03 oauth-authentication.md
  src/data/markdown/docs/05 Examples/01 Examples/04 correlation-and-dynamic-data.md
  src/data/markdown/docs/05 Examples/01 Examples/05 data-parameterization.md
  src/data/markdown/docs/05 Examples/01 Examples/06 parse-html.md
  src/data/markdown/docs/05 Examples/01 Examples/07 html-forms.md
  src/data/markdown/docs/05 Examples/01 Examples/08 cookies-example.md
  src/data/markdown/docs/05 Examples/01 Examples/09 data-uploads.md
  src/data/markdown/docs/05 Examples/01 Examples/10 api-crud-operations.md
  src/data/markdown/docs/05 Examples/01 Examples/11 generating-uuids.md
  src/data/markdown/docs/05 Examples/01 Examples/12 http2.md
  src/data/markdown/docs/05 Examples/01 Examples/13 websockets.md
  src/data/markdown/docs/05 Examples/01 Examples/14 soap.md
  src/data/markdown/docs/05 Examples/01 Examples/15 tls.md
  src/data/markdown/docs/05 Examples/01 Examples/16 data generation.md
  src/data/markdown/docs/05 Examples/01 Examples/17 crawl-webpage.md
  src/data/markdown/docs/05 Examples/01 Examples/18 Bundling and transpilation.md
  src/data/markdown/docs/05 Examples/01 Examples/19 functional testing.md
  src/data/markdown/docs/05 Examples/01 Examples/20 tracking-data-per-url.md
  src/data/markdown/docs/05 Examples/01 Examples/21 URL query parameters.md
  src/data/markdown/docs/05 Examples/01 Examples/22 instant-load-increase.md
  src/data/markdown/docs/05 Examples/01 Examples/23 get-timings-for-an-http-metric.md
  src/data/markdown/docs/05 Examples/01 Examples/24 distribute-workloads.md
  src/data/markdown/docs/05 Examples/02 Tutorials.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/100 Test-for-functional-behavior.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/200 Test for performance.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/300 Analyze results.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/400 Reuse and re-run tests.md
  src/data/markdown/docs/07 extensions/01 Get started/04 Create.md
  src/data/markdown/docs/07 extensions/01 Get started/04 Create/01 JavaScript Extensions.md
  src/data/markdown/docs/07 extensions/01 Get started/04 Create/02 Output Extensions.md
  src/data/markdown/docs/07 extensions/02 Explanations/010-extensions-registry.md
  src/data/markdown/docs/07 extensions/02 Explanations/020-go-js-bridge.md
  src/data/markdown/docs/07 extensions/02 Explanations/030-extension-graduation.md
  src/data/markdown/docs/07 extensions/03 Guides/02 bundling.md
  src/data/markdown/docs/07 extensions/03 Guides/build-k6-using-docker.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add a Pull Request template to guide contributions (#1407)
  .github/pull_request_template.md
Due: none

Add PRs from last week to Grafana docs (#1393)
  docs/sources/v0.47.x/examples/oauth-authentication.md
  docs/sources/v0.47.x/javascript-api/xk6-disruptor/faults/_index.md
  docs/sources/v0.47.x/javascript-api/xk6-disruptor/faults/pod-termination.md
  docs/sources/v0.47.x/javascript-api/xk6-disruptor/get-started/_index.md
  docs/sources/v0.47.x/javascript-api/xk6-disruptor/poddisruptor/_index.md
  docs/sources/v0.47.x/javascript-api/xk6-disruptor/poddisruptor/terminate-pods.md
  docs/sources/v0.47.x/javascript-api/xk6-disruptor/servicedisruptor/_index.md
  docs/sources/v0.47.x/javascript-api/xk6-disruptor/servicedisruptor/terminate-pods.md
  docs/sources/v0.47.x/results-output/end-of-test/custom-summary.md
  docs/sources/v0.47.x/using-k6/scenarios/executors/shared-iterations.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply suggestions from code review
  docs/sources/next/using-k6/metrics/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Document a new metrics restriction (#1426)
  docs/sources/next/using-k6/metrics/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply suggestions from code review
  docs/sources/next/javascript-api/k6-experimental/redis/redis-options.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

docs: add a few more k6 browser examples
  docs/sources/next/javascript-api/k6-experimental/browser/browsercontext/newpage.md
  docs/sources/next/using-k6-browser/metrics.md
  docs/sources/next/using-k6-browser/recommended-practices/_index.md
  docs/sources/next/using-k6-browser/recommended-practices/hybrid-approach-to-performance.md
  docs/sources/next/using-k6-browser/recommended-practices/page-object-model-pattern.md
  docs/sources/next/using-k6-browser/recommended-practices/selecting-elements.md
  docs/sources/v0.47.x/javascript-api/k6-experimental/browser/browsercontext/newpage.md
  docs/sources/v0.47.x/using-k6-browser/metrics.md
  docs/sources/v0.47.x/using-k6-browser/recommended-practices/_index.md
  docs/sources/v0.47.x/using-k6-browser/recommended-practices/hybrid-approach-to-performance.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply suggestions from code review
  docs/sources/next/javascript-api/k6-experimental/redis/client/_index.md
  docs/sources/next/javascript-api/k6-experimental/redis/redis-options.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update canonicalUrls for examples section
  src/data/markdown/docs/05 Examples/01 Examples/01 single-request.md
  src/data/markdown/docs/05 Examples/01 Examples/02 http-authentication.md
  src/data/markdown/docs/05 Examples/01 Examples/03 oauth-authentication.md
  src/data/markdown/docs/05 Examples/01 Examples/04 correlation-and-dynamic-data.md
  src/data/markdown/docs/05 Examples/01 Examples/05 data-parameterization.md
  src/data/markdown/docs/05 Examples/01 Examples/06 parse-html.md
  src/data/markdown/docs/05 Examples/01 Examples/07 html-forms.md
  src/data/markdown/docs/05 Examples/01 Examples/08 cookies-example.md
  src/data/markdown/docs/05 Examples/01 Examples/09 data-uploads.md
  src/data/markdown/docs/05 Examples/01 Examples/10 api-crud-operations.md
  src/data/markdown/docs/05 Examples/01 Examples/11 generating-uuids.md
  src/data/markdown/docs/05 Examples/01 Examples/12 http2.md
  src/data/markdown/docs/05 Examples/01 Examples/13 websockets.md
  src/data/markdown/docs/05 Examples/01 Examples/14 soap.md
  src/data/markdown/docs/05 Examples/01 Examples/15 tls.md
  src/data/markdown/docs/05 Examples/01 Examples/16 data generation.md
  src/data/markdown/docs/05 Examples/01 Examples/17 crawl-webpage.md
  src/data/markdown/docs/05 Examples/01 Examples/18 Bundling and transpilation.md
  src/data/markdown/docs/05 Examples/01 Examples/19 functional testing.md
  src/data/markdown/docs/05 Examples/01 Examples/20 tracking-data-per-url.md
  src/data/markdown/docs/05 Examples/01 Examples/21 URL query parameters.md
  src/data/markdown/docs/05 Examples/01 Examples/22 instant-load-increase.md
  src/data/markdown/docs/05 Examples/01 Examples/23 get-timings-for-an-http-metric.md
  src/data/markdown/docs/05 Examples/01 Examples/24 distribute-workloads.md
  src/data/markdown/docs/05 Examples/02 Tutorials.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/100 Test-for-functional-behavior.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/200 Test for performance.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/300 Analyze results.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/400 Reuse and re-run tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update canonicalUrls for extensions section
  src/data/markdown/docs/07 extensions/01 Get started/04 Create.md
  src/data/markdown/docs/07 extensions/01 Get started/04 Create/01 JavaScript Extensions.md
  src/data/markdown/docs/07 extensions/01 Get started/04 Create/02 Output Extensions.md
  src/data/markdown/docs/07 extensions/02 Explanations/010-extensions-registry.md
  src/data/markdown/docs/07 extensions/02 Explanations/020-go-js-bridge.md
  src/data/markdown/docs/07 extensions/02 Explanations/030-extension-graduation.md
  src/data/markdown/docs/07 extensions/03 Guides/02 bundling.md
  src/data/markdown/docs/07 extensions/03 Guides/build-k6-using-docker.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update canonicalUrls for xk6-disruptor section
  src/data/markdown/docs/40 xk6-disruptor/01 Get started.md
  src/data/markdown/docs/40 xk6-disruptor/02 Explanations.md
  src/data/markdown/docs/40 xk6-disruptor/03 API.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/01 Faults.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/01 Faults/01 Grpc.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/01 Faults/02 HTTP .md
  src/data/markdown/docs/40 xk6-disruptor/03 API/01 Faults/03 Pod Termination.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/02 PodDisruptor.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/02 PodDisruptor/01 Constructor.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/02 PodDisruptor/02 injectGrpcFaults.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/02 PodDisruptor/03 injectHTTPFaults.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/02 PodDisruptor/04 TerminatePods.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/03 ServiceDisruptor.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/03 ServiceDisruptor/01 Constructor.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/03 ServiceDisruptor/02 injectGrpcFaults.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/03 ServiceDisruptor/03 injectHTTPFaults.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/03 ServiceDisruptor/04 TerminatePods.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update canonicalUrls for root js api pages
  src/data/markdown/docs/02 javascript api/01 Init context.md
  src/data/markdown/docs/02 javascript api/02 k6.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto.md
  src/data/markdown/docs/02 javascript api/04 k6-data.md
  src/data/markdown/docs/02 javascript api/05 k6-encoding.md
  src/data/markdown/docs/02 javascript api/06 k6-execution.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental.md
  src/data/markdown/docs/02 javascript api/08 k6-html.md
  src/data/markdown/docs/02 javascript api/09 k6-http.md
  src/data/markdown/docs/02 javascript api/10 k6-metrics.md
  src/data/markdown/docs/02 javascript api/11 k6-net-grpc.md
  src/data/markdown/docs/02 javascript api/12 k6-ws.md
  src/data/markdown/docs/02 javascript api/90 Error Codes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add version banner to latest version, update link
  src/components/shared/version-banner/version-banner.js
  src/layouts/doc-layout/doc-layout.view.js
Due: prettier --write, eslint --fix

Fix CSS for version banner
  src/components/shared/page-info/page-info.module.scss
Due: prettier --write

Add banner linking to Grafana docs
  gatsby-config.js
Due: prettier --write, eslint --fix

Option --profiling-enabled
  docs/sources/next/using-k6/k6-options/reference.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Path conditions:
  prettier --parser markdown --write: any of: docs/sources/**/*.md
  eslint -c ./docs/sources/.eslintrc.js --fix: any of: docs/sources/**/*.md
  prettier --write: any of: *.{js,jsx,css,scss}
  eslint --fix: any of: *.{js,jsx}
  eslint -c ./src/data/markdown/.eslintrc.js --fix: any of: src/data/markdown/**/*.{md,mdx}
