Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: backport to v0.48
  .eslintignore
  docs/sources/v0.48.x/testing-guides/injecting-faults-with-xk6-disruptor/expose-your-application.md
  docs/sources/v0.48.x/testing-guides/injecting-faults-with-xk6-disruptor/how-it-works.md
  docs/sources/v0.48.x/using-k6/protocols/ssl-tls/online-certificate-status-protocol-ocsp.md
  docs/sources/v0.48.x/using-k6/scenarios/concepts/arrival-rate-vu-allocation.md
  docs/sources/v0.48.x/using-k6/scenarios/concepts/dropped-iterations.md
  docs/sources/v0.48.x/using-k6/scenarios/concepts/graceful-stop.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: backport to v0.47
  docs/sources/v0.47.x/testing-guides/injecting-faults-with-xk6-disruptor/expose-your-application.md
  docs/sources/v0.47.x/testing-guides/injecting-faults-with-xk6-disruptor/how-it-works.md
  docs/sources/v0.47.x/using-k6/protocols/ssl-tls/online-certificate-status-protocol-ocsp.md
  docs/sources/v0.47.x/using-k6/scenarios/concepts/arrival-rate-vu-allocation.md
  docs/sources/v0.47.x/using-k6/scenarios/concepts/dropped-iterations.md
  docs/sources/v0.47.x/using-k6/scenarios/concepts/graceful-stop.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: update slugs and reorder pages (#1447)
  .eslintignore
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/expose-your-application.md
  docs/sources/next/testing-guides/injecting-faults-with-xk6-disruptor/how-it-works.md
  docs/sources/next/using-k6/protocols/ssl-tls/online-certificate-status-protocol-ocsp.md
  docs/sources/next/using-k6/scenarios/concepts/arrival-rate-vu-allocation.md
  docs/sources/next/using-k6/scenarios/concepts/dropped-iterations.md
  docs/sources/next/using-k6/scenarios/concepts/graceful-stop.md
  docs/sources/v0.47.x/testing-guides/injecting-faults-with-xk6-disruptor/expose-your-application.md
  docs/sources/v0.47.x/testing-guides/injecting-faults-with-xk6-disruptor/how-it-works.md
  docs/sources/v0.47.x/using-k6/protocols/ssl-tls/online-certificate-status-protocol-ocsp.md
  docs/sources/v0.47.x/using-k6/scenarios/concepts/arrival-rate-vu-allocation.md
  docs/sources/v0.47.x/using-k6/scenarios/concepts/dropped-iterations.md
  docs/sources/v0.47.x/using-k6/scenarios/concepts/graceful-stop.md
  docs/sources/v0.48.x/testing-guides/injecting-faults-with-xk6-disruptor/expose-your-application.md
  docs/sources/v0.48.x/testing-guides/injecting-faults-with-xk6-disruptor/how-it-works.md
  docs/sources/v0.48.x/using-k6/protocols/ssl-tls/online-certificate-status-protocol-ocsp.md
  docs/sources/v0.48.x/using-k6/scenarios/concepts/arrival-rate-vu-allocation.md
  docs/sources/v0.48.x/using-k6/scenarios/concepts/dropped-iterations.md
  docs/sources/v0.48.x/using-k6/scenarios/concepts/graceful-stop.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: bring in changes from #1393 to next
  docs/sources/next/examples/oauth-authentication.md
  docs/sources/next/javascript-api/xk6-disruptor/faults/_index.md
  docs/sources/next/javascript-api/xk6-disruptor/faults/pod-termination.md
  docs/sources/next/javascript-api/xk6-disruptor/get-started/_index.md
  docs/sources/next/javascript-api/xk6-disruptor/poddisruptor/_index.md
  docs/sources/next/javascript-api/xk6-disruptor/poddisruptor/constructor.md
  docs/sources/next/javascript-api/xk6-disruptor/poddisruptor/injectgrpcfaults.md
  docs/sources/next/javascript-api/xk6-disruptor/poddisruptor/injecthttpfaults.md
  docs/sources/next/javascript-api/xk6-disruptor/poddisruptor/terminate-pods.md
  docs/sources/next/javascript-api/xk6-disruptor/servicedisruptor/_index.md
  docs/sources/next/javascript-api/xk6-disruptor/servicedisruptor/constructor.md
  docs/sources/next/javascript-api/xk6-disruptor/servicedisruptor/injectgrpcfaults.md
  docs/sources/next/javascript-api/xk6-disruptor/servicedisruptor/injecthttpfaults.md
  docs/sources/next/javascript-api/xk6-disruptor/servicedisruptor/terminate-pods.md
  docs/sources/next/results-output/end-of-test/custom-summary.md
  docs/sources/next/using-k6/scenarios/executors/shared-iterations.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: backport to v0.48
  docs/sources/v0.48.x/examples/oauth-authentication.md
  docs/sources/v0.48.x/javascript-api/xk6-disruptor/faults/_index.md
  docs/sources/v0.48.x/javascript-api/xk6-disruptor/faults/pod-termination.md
  docs/sources/v0.48.x/javascript-api/xk6-disruptor/get-started/_index.md
  docs/sources/v0.48.x/javascript-api/xk6-disruptor/poddisruptor/_index.md
  docs/sources/v0.48.x/javascript-api/xk6-disruptor/poddisruptor/constructor.md
  docs/sources/v0.48.x/javascript-api/xk6-disruptor/poddisruptor/injectgrpcfaults.md
  docs/sources/v0.48.x/javascript-api/xk6-disruptor/poddisruptor/injecthttpfaults.md
  docs/sources/v0.48.x/javascript-api/xk6-disruptor/poddisruptor/terminate-pods.md
  docs/sources/v0.48.x/javascript-api/xk6-disruptor/servicedisruptor/_index.md
  docs/sources/v0.48.x/javascript-api/xk6-disruptor/servicedisruptor/constructor.md
  docs/sources/v0.48.x/javascript-api/xk6-disruptor/servicedisruptor/injectgrpcfaults.md
  docs/sources/v0.48.x/javascript-api/xk6-disruptor/servicedisruptor/injecthttpfaults.md
  docs/sources/v0.48.x/javascript-api/xk6-disruptor/servicedisruptor/terminate-pods.md
  docs/sources/v0.48.x/results-output/end-of-test/custom-summary.md
  docs/sources/v0.48.x/using-k6/scenarios/executors/shared-iterations.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: remove test services
  docs/sources/next/get-started/resources.md
  src/data/markdown/translated-guides/en/01 Get started/05 resources.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: backport to v0.48
  docs/sources/v0.48.x/get-started/resources.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: backport to v0.47
  docs/sources/v0.47.x/get-started/resources.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: fix broken links and bring changes from #1393 (#1448)
  docs/sources/next/examples/oauth-authentication.md
  docs/sources/next/get-started/resources.md
  docs/sources/next/javascript-api/xk6-disruptor/faults/_index.md
  docs/sources/next/javascript-api/xk6-disruptor/faults/pod-termination.md
  docs/sources/next/javascript-api/xk6-disruptor/get-started/_index.md
  docs/sources/next/javascript-api/xk6-disruptor/poddisruptor/_index.md
  docs/sources/next/javascript-api/xk6-disruptor/poddisruptor/constructor.md
  docs/sources/next/javascript-api/xk6-disruptor/poddisruptor/injectgrpcfaults.md
  docs/sources/next/javascript-api/xk6-disruptor/poddisruptor/injecthttpfaults.md
  docs/sources/next/javascript-api/xk6-disruptor/poddisruptor/terminate-pods.md
  docs/sources/next/javascript-api/xk6-disruptor/servicedisruptor/_index.md
  docs/sources/next/javascript-api/xk6-disruptor/servicedisruptor/constructor.md
  docs/sources/next/javascript-api/xk6-disruptor/servicedisruptor/injectgrpcfaults.md
  docs/sources/next/javascript-api/xk6-disruptor/servicedisruptor/injecthttpfaults.md
  docs/sources/next/javascript-api/xk6-disruptor/servicedisruptor/terminate-pods.md
  docs/sources/next/results-output/end-of-test/custom-summary.md
  docs/sources/next/using-k6/scenarios/executors/shared-iterations.md
  docs/sources/v0.47.x/get-started/resources.md
  docs/sources/v0.48.x/examples/oauth-authentication.md
  docs/sources/v0.48.x/get-started/resources.md
  docs/sources/v0.48.x/javascript-api/xk6-disruptor/faults/_index.md
  docs/sources/v0.48.x/javascript-api/xk6-disruptor/faults/pod-termination.md
  docs/sources/v0.48.x/javascript-api/xk6-disruptor/get-started/_index.md
  docs/sources/v0.48.x/javascript-api/xk6-disruptor/poddisruptor/_index.md
  docs/sources/v0.48.x/javascript-api/xk6-disruptor/poddisruptor/constructor.md
  docs/sources/v0.48.x/javascript-api/xk6-disruptor/poddisruptor/injectgrpcfaults.md
  docs/sources/v0.48.x/javascript-api/xk6-disruptor/poddisruptor/injecthttpfaults.md
  docs/sources/v0.48.x/javascript-api/xk6-disruptor/poddisruptor/terminate-pods.md
  docs/sources/v0.48.x/javascript-api/xk6-disruptor/servicedisruptor/_index.md
  docs/sources/v0.48.x/javascript-api/xk6-disruptor/servicedisruptor/constructor.md
  docs/sources/v0.48.x/javascript-api/xk6-disruptor/servicedisruptor/injectgrpcfaults.md
  docs/sources/v0.48.x/javascript-api/xk6-disruptor/servicedisruptor/injecthttpfaults.md
  docs/sources/v0.48.x/javascript-api/xk6-disruptor/servicedisruptor/terminate-pods.md
  docs/sources/v0.48.x/results-output/end-of-test/custom-summary.md
  docs/sources/v0.48.x/using-k6/scenarios/executors/shared-iterations.md
  src/data/markdown/translated-guides/en/01 Get started/05 resources.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: remove noindex from Grafana docs (#1446)
  docs/sources/_index.md
  docs/sources/next/examples/_index.md
  docs/sources/next/testing-guides/api-load-testing.md
  docs/sources/next/testing-guides/load-testing-websites.md
  docs/sources/next/testing-guides/test-types/_index.md
  docs/sources/v0.47.x/examples/_index.md
  docs/sources/v0.47.x/testing-guides/api-load-testing.md
  docs/sources/v0.47.x/testing-guides/load-testing-websites.md
  docs/sources/v0.47.x/testing-guides/test-types/_index.md
  docs/sources/v0.48.x/examples/_index.md
  docs/sources/v0.48.x/testing-guides/api-load-testing.md
  docs/sources/v0.48.x/testing-guides/load-testing-websites.md
  docs/sources/v0.48.x/testing-guides/test-types/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update browser module imports
  docs/sources/next/javascript-api/k6-experimental/browser/locator/dispatchevent.md
  docs/sources/next/testing-guides/load-testing-websites.md
  docs/sources/next/using-k6-browser/recommended-practices/page-object-model-pattern.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update the browser imports for v0.47.x docs
  docs/sources/v0.47.x/javascript-api/k6-experimental/browser/locator/dispatchevent.md
  docs/sources/v0.47.x/testing-guides/load-testing-websites.md
  docs/sources/v0.47.x/using-k6-browser/recommended-practices/page-object-model-pattern.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update the browser imports for v0.48.x docs
  docs/sources/v0.48.x/javascript-api/k6-experimental/browser/locator/dispatchevent.md
  docs/sources/v0.48.x/testing-guides/load-testing-websites.md
  docs/sources/v0.48.x/using-k6-browser/recommended-practices/page-object-model-pattern.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

docs: apply browser metrics patch to version 0.48
  docs/sources/v0.48.x/using-k6-browser/metrics.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

fixed value in the doc
  docs/sources/next/examples/instant-load-increase.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

fixed value of target in the comment
  docs/sources/next/examples/instant-load-increase.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

fixed a misspelling in the comment instant-load-increase.md (#1444)
  docs/sources/next/examples/instant-load-increase.md
  src/data/markdown/docs/05 Examples/01 Examples/22 instant-load-increase.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

changed param to metrix_name1
  docs/sources/v0.48.x/using-k6/thresholds.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fix author url of xk6-nostr
  src/data/doc-extensions/extensions.json
Due: none

updated param name from METRIC_NAME to METRIC_NAME1 on thresholds.md (#1442)
  docs/sources/next/using-k6/thresholds.md
  docs/sources/v0.47.x/using-k6/thresholds.md
  docs/sources/v0.48.x/using-k6/thresholds.md
  src/data/markdown/translated-guides/en/02 Using k6/04 Thresholds.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Update Grafana site for new extensions contributed to k6 registry
  docs/sources/next/extensions/explore.md
  docs/sources/v0.48.x/extensions/explore.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

add xk6-plist to the list of extensions
  src/data/doc-extensions/extensions.json
Due: none

address PR's comments
  src/data/doc-extensions/extensions.json
Due: none

Add K6_BROWSER_TRACES_METADATA docs
  docs/sources/next/javascript-api/k6-experimental/browser/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Replicate jslib-aws v0.48 changes in next docs
  docs/sources/next/javascript-api/jslib/aws/EventBridgeClient/putEvents.md
  docs/sources/next/javascript-api/jslib/aws/KMSClient/KMSDataKey.md
  docs/sources/next/javascript-api/jslib/aws/KMSClient/KMSKey.md
  docs/sources/next/javascript-api/jslib/aws/KMSClient/_index.md
  docs/sources/next/javascript-api/jslib/aws/KMSClient/generateDataKey.md
  docs/sources/next/javascript-api/jslib/aws/KMSClient/listKeys.md
  docs/sources/next/javascript-api/jslib/aws/S3Client/Bucket.md
  docs/sources/next/javascript-api/jslib/aws/S3Client/Object.md
  docs/sources/next/javascript-api/jslib/aws/S3Client/S3Part.md
  docs/sources/next/javascript-api/jslib/aws/S3Client/_index.md
  docs/sources/next/javascript-api/jslib/aws/S3Client/abortMultipartUpload.md
  docs/sources/next/javascript-api/jslib/aws/S3Client/completeMultipartUpload.md
  docs/sources/next/javascript-api/jslib/aws/S3Client/copyObject.md
  docs/sources/next/javascript-api/jslib/aws/S3Client/createMultipartUpload.md
  docs/sources/next/javascript-api/jslib/aws/S3Client/deleteObject.md
  docs/sources/next/javascript-api/jslib/aws/S3Client/getObject.md
  docs/sources/next/javascript-api/jslib/aws/S3Client/listBuckets.md
  docs/sources/next/javascript-api/jslib/aws/S3Client/listObjects.md
  docs/sources/next/javascript-api/jslib/aws/S3Client/putObject.md
  docs/sources/next/javascript-api/jslib/aws/S3Client/uploadPart.md
  docs/sources/next/javascript-api/jslib/aws/SQSClient/_index.md
  docs/sources/next/javascript-api/jslib/aws/SQSClient/listQueues.md
  docs/sources/next/javascript-api/jslib/aws/SQSClient/sendMessage.md
  docs/sources/next/javascript-api/jslib/aws/SecretsManagerClient/Secret.md
  docs/sources/next/javascript-api/jslib/aws/SecretsManagerClient/_index.md
  docs/sources/next/javascript-api/jslib/aws/SecretsManagerClient/createSecret.md
  docs/sources/next/javascript-api/jslib/aws/SecretsManagerClient/deleteSecret.md
  docs/sources/next/javascript-api/jslib/aws/SecretsManagerClient/getSecret.md
  docs/sources/next/javascript-api/jslib/aws/SecretsManagerClient/listSecrets.md
  docs/sources/next/javascript-api/jslib/aws/SecretsManagerClient/putSecretValue.md
  docs/sources/next/javascript-api/jslib/aws/SignatureV4/_index.md
  docs/sources/next/javascript-api/jslib/aws/SignatureV4/presign.md
  docs/sources/next/javascript-api/jslib/aws/SignatureV4/sign.md
  docs/sources/next/javascript-api/jslib/aws/SystemsManagerClient/SystemsManagerParameter.md
  docs/sources/next/javascript-api/jslib/aws/SystemsManagerClient/getParameter.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add docs for frame.dblclick
  docs/sources/next/javascript-api/k6-experimental/browser/frame.md
  docs/sources/next/javascript-api/k6-experimental/browser/frame/_index.md
  docs/sources/next/javascript-api/k6-experimental/browser/frame/dblclick.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add docs for elementHandle.dblclick
  docs/sources/next/javascript-api/k6-experimental/browser/element-handle/_index.md
  docs/sources/next/javascript-api/k6-experimental/browser/element-handle/dblclick.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update locator.dblclick
  docs/sources/next/javascript-api/k6-experimental/browser/locator/_index.md
  docs/sources/next/javascript-api/k6-experimental/browser/locator/dblclick.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update element-handle to elementhandle
  docs/sources/next/javascript-api/k6-experimental/browser/elementhandle/_index.md
  docs/sources/next/javascript-api/k6-experimental/browser/elementhandle/dblclick.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply suggestions from code review
  docs/sources/next/javascript-api/k6-experimental/browser/elementhandle/dblclick.md
  docs/sources/next/javascript-api/k6-experimental/browser/frame/dblclick.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add docs for elementHandle.isVisible
  docs/sources/next/javascript-api/k6-experimental/browser/elementhandle/_index.md
  docs/sources/next/javascript-api/k6-experimental/browser/elementhandle/isvisible.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add docs for elementHandle.isHidden
  docs/sources/next/javascript-api/k6-experimental/browser/elementhandle/_index.md
  docs/sources/next/javascript-api/k6-experimental/browser/elementhandle/ishidden.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update docs for page.isVisible
  docs/sources/next/javascript-api/k6-experimental/browser/page/isvisible.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update docs for page.isHidden
  docs/sources/next/javascript-api/k6-experimental/browser/page/ishidden.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Path conditions:
  prettier --parser markdown --write: any of: docs/sources/**/*.md
  eslint -c ./docs/sources/.eslintrc.js --fix: any of: docs/sources/**/*.md
  prettier --write: any of: *.{js,jsx,css,scss}
  eslint --fix: any of: *.{js,jsx}
  eslint -c ./src/data/markdown/.eslintrc.js --fix: any of: src/data/markdown/**/*.{md,mdx}
