Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Improve gRPC connection params docs
  docs/sources/next/javascript-api/k6-experimental/grpc/client/client-connect-connect-address-params.md
  docs/sources/next/javascript-api/k6-net-grpc/client/client-connect-connect-address-params.md
  docs/sources/v0.47.x/javascript-api/k6-experimental/grpc/client/client-connect-connect-address-params.md
  docs/sources/v0.47.x/javascript-api/k6-net-grpc/client/client-connect-connect-address-params.md
  docs/sources/v0.48.x/javascript-api/k6-experimental/grpc/client/client-connect-connect-address-params.md
  docs/sources/v0.48.x/javascript-api/k6-net-grpc/client/client-connect-connect-address-params.md
  docs/sources/v0.49.x/javascript-api/k6-experimental/grpc/client/client-connect-connect-address-params.md
  docs/sources/v0.49.x/javascript-api/k6-net-grpc/client/client-connect-connect-address-params.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Minor gRPC docs updates
  docs/sources/next/javascript-api/k6-net-grpc/client/client-invoke.md
  docs/sources/next/javascript-api/k6-net-grpc/stream/stream-write.md
  docs/sources/next/using-k6/protocols/grpc.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Porting changes to v0.49
  docs/sources/v0.49.x/javascript-api/k6-net-grpc/client/client-invoke.md
  docs/sources/v0.49.x/javascript-api/k6-net-grpc/stream/stream-write.md
  docs/sources/v0.49.x/using-k6/protocols/grpc.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Stop promoting k6/experimental/grpc
  docs/sources/v0.47.x/javascript-api/k6-experimental/grpc/_index.md
  docs/sources/v0.47.x/shared/experimental-grpc-module.md
  docs/sources/v0.48.x/javascript-api/k6-experimental/grpc/_index.md
  docs/sources/v0.48.x/shared/experimental-grpc-module.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: update remaining canonical URls
  src/data/markdown/translated-guides/en/06 Test Types/01 Smoke Testing.md
  src/data/markdown/translated-guides/en/06 Test Types/03 Stress testing.md
  src/data/markdown/translated-guides/en/06 Test Types/05 Soak Testing.md
  src/data/markdown/translated-guides/en/06 Test Types/07-breakpoint-testing.md
  src/data/markdown/translated-guides/en/07 Testing Guides/01 API load testing.md
  src/data/markdown/translated-guides/en/07 Testing Guides/03 Load testing websites.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: more updates
  src/data/markdown/translated-guides/en/06 Test Types/00 Load test types.md
  src/data/markdown/translated-guides/en/06 Test Types/02 Load Testing.md
  src/data/markdown/translated-guides/en/06 Test Types/06-spike-testing.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: update examples canonical
  src/utils/seo-metadata.js
Due: prettier --write, eslint --fix

chore: remove noindex from Grafana examples
  docs/sources/next/examples/_index.md
  docs/sources/v0.49.x/examples/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update github actions to ones using node20
  .github/workflows/doc-validator.yml
  .github/workflows/pr-deploy.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

chore: add canonicals for average load and spike testing
  src/data/markdown/translated-guides/en/06 Test Types/02 Load Testing.md
  src/data/markdown/translated-guides/en/06 Test Types/06-spike-testing.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add xk6-webtransport extension for v0.49
  docs/sources/v0.49.x/extensions/explore.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: update canonical URLs (#1493)
  docs/sources/next/examples/_index.md
  docs/sources/v0.49.x/examples/_index.md
  src/data/markdown/translated-guides/en/06 Test Types/00 Load test types.md
  src/data/markdown/translated-guides/en/06 Test Types/01 Smoke Testing.md
  src/data/markdown/translated-guides/en/06 Test Types/02 Load Testing.md
  src/data/markdown/translated-guides/en/06 Test Types/03 Stress testing.md
  src/data/markdown/translated-guides/en/06 Test Types/05 Soak Testing.md
  src/data/markdown/translated-guides/en/06 Test Types/06-spike-testing.md
  src/data/markdown/translated-guides/en/06 Test Types/07-breakpoint-testing.md
  src/data/markdown/translated-guides/en/07 Testing Guides/01 API load testing.md
  src/data/markdown/translated-guides/en/07 Testing Guides/03 Load testing websites.md
  src/utils/seo-metadata.js
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Apply suggestions from code review
  .github/workflows/pr-deploy.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

Update github actions to ones using node20 (#1498)
  .github/workflows/doc-validator.yml
  .github/workflows/pr-deploy.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

chore: add minimum test duration for report to display graphs
  docs/sources/next/results-output/web-dashboard/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply suggestions from code review
  docs/sources/next/using-k6/protocols/grpc.md
  docs/sources/v0.49.x/using-k6/protocols/grpc.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: fix links
  docs/sources/next/javascript-api/jslib/_index.md
  docs/sources/next/using-k6-browser/metrics.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: fix links to <K6_VERSION>
  docs/sources/next/extensions/_index.md
  docs/sources/next/extensions/build-k6-binary-using-go.md
  docs/sources/next/extensions/explore.md
  docs/sources/next/javascript-api/_index.md
  docs/sources/next/javascript-api/k6-experimental/fs/_index.md
  docs/sources/next/javascript-api/k6-experimental/fs/file/_index.md
  docs/sources/next/javascript-api/k6-experimental/fs/open.md
  docs/sources/next/results-output/real-time/grafana-cloud-prometheus.md
  docs/sources/next/results-output/real-time/prometheus-remote-write.md
  docs/sources/next/testing-guides/api-load-testing.md
  docs/sources/next/testing-guides/load-testing-websites.md
  docs/sources/next/using-k6/tags-and-groups.md
  docs/sources/next/using-k6/test-authoring/create-tests-from-recordings/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: apply-patch to v0.49
  docs/sources/v0.49.x/extensions/_index.md
  docs/sources/v0.49.x/extensions/build-k6-binary-using-go.md
  docs/sources/v0.49.x/extensions/explore.md
  docs/sources/v0.49.x/javascript-api/_index.md
  docs/sources/v0.49.x/javascript-api/jslib/_index.md
  docs/sources/v0.49.x/javascript-api/k6-experimental/fs/_index.md
  docs/sources/v0.49.x/javascript-api/k6-experimental/fs/file/_index.md
  docs/sources/v0.49.x/javascript-api/k6-experimental/fs/open.md
  docs/sources/v0.49.x/results-output/real-time/grafana-cloud-prometheus.md
  docs/sources/v0.49.x/results-output/real-time/prometheus-remote-write.md
  docs/sources/v0.49.x/testing-guides/api-load-testing.md
  docs/sources/v0.49.x/testing-guides/load-testing-websites.md
  docs/sources/v0.49.x/using-k6-browser/metrics.md
  docs/sources/v0.49.x/using-k6/tags-and-groups.md
  docs/sources/v0.49.x/using-k6/test-authoring/create-tests-from-recordings/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

docs: update graph explanation
  docs/sources/next/results-output/web-dashboard/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add `Error handler` example
  docs/sources/next/examples/error-handler.md
  docs/sources/next/examples/tutorials/_index.md
  docs/sources/v0.47.x/examples/error-handler.md
  docs/sources/v0.47.x/examples/tutorials/_index.md
  docs/sources/v0.48.x/examples/error-handler.md
  docs/sources/v0.48.x/examples/tutorials/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update docs/sources/next/examples/error-handler.md
  docs/sources/next/examples/error-handler.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Port changes to `v0.49`
  docs/sources/v0.49.x/examples/error-handler.md
  docs/sources/v0.49.x/examples/tutorials/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add links to the `k6 data collection pipeline` blog in `Read more` sections
  docs/sources/next/results-output/_index.md
  docs/sources/next/results-output/real-time/_index.md
  docs/sources/v0.47.x/results-output/_index.md
  docs/sources/v0.47.x/results-output/real-time/_index.md
  docs/sources/v0.48.x/results-output/_index.md
  docs/sources/v0.48.x/results-output/real-time/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Port changes to `v0.49`
  docs/sources/v0.49.x/results-output/_index.md
  docs/sources/v0.49.x/results-output/real-time/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: add minimum test duration for report to display graphs (#1501)
  docs/sources/next/results-output/web-dashboard/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: update Microsoft links
  docs/sources/next/using-k6/test-authoring/create-tests-from-recordings/using-the-har-converter.md
  docs/sources/v0.47.x/using-k6/test-authoring/create-tests-from-recordings/using-the-har-converter.md
  docs/sources/v0.48.x/using-k6/test-authoring/create-tests-from-recordings/using-the-har-converter.md
  docs/sources/v0.49.x/using-k6/test-authoring/create-tests-from-recordings/using-the-har-converter.md
  src/data/markdown/docs/03 cloud/05 Project and Team Management/04 SAML SSO/01 Azure AD.md
  src/data/markdown/docs/03 cloud/05 Project and Team Management/05 SAML SSO.md
  src/data/markdown/translated-guides/en/05 Test authoring/02 Create tests from recordings/02 Using the HAR converter.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: update Microsoft links (#1503)
  docs/sources/next/using-k6/test-authoring/create-tests-from-recordings/using-the-har-converter.md
  docs/sources/v0.47.x/using-k6/test-authoring/create-tests-from-recordings/using-the-har-converter.md
  docs/sources/v0.48.x/using-k6/test-authoring/create-tests-from-recordings/using-the-har-converter.md
  docs/sources/v0.49.x/using-k6/test-authoring/create-tests-from-recordings/using-the-har-converter.md
  src/data/markdown/docs/03 cloud/05 Project and Team Management/04 SAML SSO/01 Azure AD.md
  src/data/markdown/docs/03 cloud/05 Project and Team Management/05 SAML SSO.md
  src/data/markdown/translated-guides/en/05 Test authoring/02 Create tests from recordings/02 Using the HAR converter.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Add `Error handler` example (#1495)
  docs/sources/next/examples/error-handler.md
  docs/sources/next/examples/tutorials/_index.md
  docs/sources/v0.47.x/examples/error-handler.md
  docs/sources/v0.47.x/examples/tutorials/_index.md
  docs/sources/v0.48.x/examples/error-handler.md
  docs/sources/v0.48.x/examples/tutorials/_index.md
  docs/sources/v0.49.x/examples/error-handler.md
  docs/sources/v0.49.x/examples/tutorials/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add links to the `k6 data collection pipeline` blog in `Read more` sections (#1494)
  docs/sources/next/results-output/_index.md
  docs/sources/next/results-output/real-time/_index.md
  docs/sources/v0.47.x/results-output/_index.md
  docs/sources/v0.47.x/results-output/real-time/_index.md
  docs/sources/v0.48.x/results-output/_index.md
  docs/sources/v0.48.x/results-output/real-time/_index.md
  docs/sources/v0.49.x/results-output/_index.md
  docs/sources/v0.49.x/results-output/real-time/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Minor gRPC docs updates (#1491)
  docs/sources/next/javascript-api/k6-net-grpc/client/client-invoke.md
  docs/sources/next/javascript-api/k6-net-grpc/stream/stream-write.md
  docs/sources/next/using-k6/protocols/grpc.md
  docs/sources/v0.49.x/javascript-api/k6-net-grpc/client/client-invoke.md
  docs/sources/v0.49.x/javascript-api/k6-net-grpc/stream/stream-write.md
  docs/sources/v0.49.x/using-k6/protocols/grpc.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

fix: metric reported in stdout (#1488)
  docs/sources/next/using-k6/metrics/_index.md
  docs/sources/v0.47.x/using-k6/metrics/_index.md
  docs/sources/v0.48.x/using-k6/metrics/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

fix: req_duration to http_req_duration
  docs/sources/v0.49.x/using-k6/metrics/_index.md
  src/data/markdown/translated-guides/en/02 Using k6/02 Metrics.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: fix legacy links and `latest` (#1502)
  docs/sources/next/extensions/_index.md
  docs/sources/next/extensions/build-k6-binary-using-go.md
  docs/sources/next/extensions/explore.md
  docs/sources/next/javascript-api/_index.md
  docs/sources/next/javascript-api/jslib/_index.md
  docs/sources/next/javascript-api/k6-experimental/fs/_index.md
  docs/sources/next/javascript-api/k6-experimental/fs/file/_index.md
  docs/sources/next/javascript-api/k6-experimental/fs/open.md
  docs/sources/next/results-output/real-time/grafana-cloud-prometheus.md
  docs/sources/next/results-output/real-time/prometheus-remote-write.md
  docs/sources/next/testing-guides/api-load-testing.md
  docs/sources/next/testing-guides/load-testing-websites.md
  docs/sources/next/using-k6-browser/metrics.md
  docs/sources/next/using-k6/tags-and-groups.md
  docs/sources/next/using-k6/test-authoring/create-tests-from-recordings/_index.md
  docs/sources/v0.49.x/extensions/_index.md
  docs/sources/v0.49.x/extensions/build-k6-binary-using-go.md
  docs/sources/v0.49.x/extensions/explore.md
  docs/sources/v0.49.x/javascript-api/_index.md
  docs/sources/v0.49.x/javascript-api/jslib/_index.md
  docs/sources/v0.49.x/javascript-api/k6-experimental/fs/_index.md
  docs/sources/v0.49.x/javascript-api/k6-experimental/fs/file/_index.md
  docs/sources/v0.49.x/javascript-api/k6-experimental/fs/open.md
  docs/sources/v0.49.x/results-output/real-time/grafana-cloud-prometheus.md
  docs/sources/v0.49.x/results-output/real-time/prometheus-remote-write.md
  docs/sources/v0.49.x/testing-guides/api-load-testing.md
  docs/sources/v0.49.x/testing-guides/load-testing-websites.md
  docs/sources/v0.49.x/using-k6-browser/metrics.md
  docs/sources/v0.49.x/using-k6/tags-and-groups.md
  docs/sources/v0.49.x/using-k6/test-authoring/create-tests-from-recordings/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Path conditions:
  prettier --parser markdown --write: any of: docs/sources/**/*.md
  eslint -c ./docs/sources/.eslintrc.js --fix: any of: docs/sources/**/*.md
  prettier --write: any of: *.{js,jsx,css,scss}
  eslint --fix: any of: *.{js,jsx}
  eslint -c ./src/data/markdown/.eslintrc.js --fix: any of: src/data/markdown/**/*.{md,mdx}
