Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

.lintstagedrc:

{
  "docs/sources/**/*.md": [
    "prettier --parser markdown --write",
    "eslint -c ./docs/sources/.eslintrc.js --fix"
  ],
  "*.{js,jsx,css,scss}": "prettier --write",
  "*.{js,jsx}": "eslint --fix",
  "src/data/markdown/**/*.{md,mdx}": "eslint -c ./src/data/markdown/.eslintrc.js --fix"
}

Add skipall
  CONTRIBUTING/README.md
  docs/sources/k6/next/examples/data-uploads.md
  scripts/md-k6.py
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fix URL
  .github/workflows/run-code-blocks.yml
  docs/sources/k6/next/examples/http-authentication.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Install browser
  .github/workflows/run-code-blocks.yml
Due: none

Fix duration for browser tests
  scripts/md-k6.py
Due: none

Add fixedscenarios
  CONTRIBUTING/README.md
  docs/sources/k6/next/using-k6/tags-and-groups.md
  scripts/md-k6.py
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add Calculate concurrent users for load tests guide
  docs/sources/k6/v0.56.x/testing-guides/calculate-concurrent-users.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Reorder testing guides section
  docs/sources/k6/v0.56.x/testing-guides/api-load-testing.md
  docs/sources/k6/v0.56.x/testing-guides/calculate-concurrent-users.md
  docs/sources/k6/v0.56.x/testing-guides/injecting-faults-with-xk6-disruptor/_index.md
  docs/sources/k6/v0.56.x/testing-guides/load-testing-websites.md
  docs/sources/k6/v0.56.x/testing-guides/running-distributed-tests.md
  docs/sources/k6/v0.56.x/testing-guides/running-large-tests.md
  docs/sources/k6/v0.56.x/testing-guides/synthetic-monitoring.md
  docs/sources/k6/v0.56.x/testing-guides/use-chai-with-k6.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply to next
  docs/sources/k6/next/testing-guides/api-load-testing.md
  docs/sources/k6/next/testing-guides/calculate-concurrent-users.md
  docs/sources/k6/next/testing-guides/injecting-faults-with-xk6-disruptor/_index.md
  docs/sources/k6/next/testing-guides/load-testing-websites.md
  docs/sources/k6/next/testing-guides/running-distributed-tests.md
  docs/sources/k6/next/testing-guides/running-large-tests.md
  docs/sources/k6/next/testing-guides/synthetic-monitoring.md
  docs/sources/k6/next/testing-guides/use-chai-with-k6.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

refactor: rewrite docker cmd to init k6
  docs/sources/k6/next/get-started/running-k6.md
  docs/sources/k6/v0.48.x/get-started/running-k6.md
  docs/sources/k6/v0.49.x/get-started/running-k6.md
  docs/sources/k6/v0.50.x/get-started/running-k6.md
  docs/sources/k6/v0.51.x/get-started/running-k6.md
  docs/sources/k6/v0.52.x/get-started/running-k6.md
  docs/sources/k6/v0.53.x/get-started/running-k6.md
  docs/sources/k6/v0.54.x/get-started/running-k6.md
  docs/sources/k6/v0.55.x/get-started/running-k6.md
  docs/sources/k6/v0.56.x/get-started/running-k6.md
  src/data/markdown/translated-guides/en/01 Get started/03 Running k6.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Add workflow that builds the website with both documentation sets
  .github/workflows/build-website.yml
Due: none

Fixed docker command in get started doc (#1838)
  docs/sources/k6/next/get-started/running-k6.md
  docs/sources/k6/v0.48.x/get-started/running-k6.md
  docs/sources/k6/v0.49.x/get-started/running-k6.md
  docs/sources/k6/v0.50.x/get-started/running-k6.md
  docs/sources/k6/v0.51.x/get-started/running-k6.md
  docs/sources/k6/v0.52.x/get-started/running-k6.md
  docs/sources/k6/v0.53.x/get-started/running-k6.md
  docs/sources/k6/v0.54.x/get-started/running-k6.md
  docs/sources/k6/v0.55.x/get-started/running-k6.md
  docs/sources/k6/v0.56.x/get-started/running-k6.md
  src/data/markdown/translated-guides/en/01 Get started/03 Running k6.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Skip code blocks
  docs/sources/k6/next/testing-guides/api-load-testing.md
  docs/sources/k6/v0.56.x/testing-guides/api-load-testing.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add skip blocks
  docs/sources/k6/next/testing-guides/api-load-testing.md
  docs/sources/k6/v0.56.x/testing-guides/api-load-testing.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add workflow that builds the website with both documentation sets (#1840)
  .github/workflows/build-website.yml
Due: none

Fix path to k6 docs mount
  .github/workflows/build-website.yml
Due: none

Fix path to k6 docs mount (#1841)
  .github/workflows/build-website.yml
Due: none

Apply suggestions from code review
  docs/sources/k6/next/testing-guides/calculate-concurrent-users.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add skip blocks
  docs/sources/k6/next/testing-guides/load-testing-websites.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add code skip block
  docs/sources/k6/next/testing-guides/running-distributed-tests.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add code skip blocks
  docs/sources/k6/next/testing-guides/running-large-tests.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add "Calculate concurrent users for load tests" guide (#1839)
  docs/sources/k6/next/testing-guides/api-load-testing.md
  docs/sources/k6/next/testing-guides/calculate-concurrent-users.md
  docs/sources/k6/next/testing-guides/injecting-faults-with-xk6-disruptor/_index.md
  docs/sources/k6/next/testing-guides/load-testing-websites.md
  docs/sources/k6/next/testing-guides/running-distributed-tests.md
  docs/sources/k6/next/testing-guides/running-large-tests.md
  docs/sources/k6/next/testing-guides/synthetic-monitoring.md
  docs/sources/k6/next/testing-guides/use-chai-with-k6.md
  docs/sources/k6/v0.56.x/testing-guides/api-load-testing.md
  docs/sources/k6/v0.56.x/testing-guides/calculate-concurrent-users.md
  docs/sources/k6/v0.56.x/testing-guides/injecting-faults-with-xk6-disruptor/_index.md
  docs/sources/k6/v0.56.x/testing-guides/load-testing-websites.md
  docs/sources/k6/v0.56.x/testing-guides/running-distributed-tests.md
  docs/sources/k6/v0.56.x/testing-guides/running-large-tests.md
  docs/sources/k6/v0.56.x/testing-guides/synthetic-monitoring.md
  docs/sources/k6/v0.56.x/testing-guides/use-chai-with-k6.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add gRPC testing guide
  docs/sources/k6/next/testing-guides/grpc.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Rename file, add images
  docs/sources/k6/next/testing-guides/performance-testing-grpc-services.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add code skip blocks
  docs/sources/k6/next/testing-guides/performance-testing-grpc-services.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add skip code block
  docs/sources/k6/next/testing-guides/performance-testing-grpc-services.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply to v0.56.x
  docs/sources/k6/v0.56.x/testing-guides/performance-testing-grpc-services.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply suggestions from code review
  docs/sources/k6/next/testing-guides/performance-testing-grpc-services.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update docs/sources/k6/next/testing-guides/performance-testing-grpc-services.md
  docs/sources/k6/next/testing-guides/performance-testing-grpc-services.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

fix the link to the report usage source code
  docs/sources/k6/next/set-up/usage-collection.md
  docs/sources/k6/v0.54.x/set-up/usage-collection.md
  docs/sources/k6/v0.55.x/set-up/usage-collection.md
  docs/sources/k6/v0.56.x/set-up/usage-collection.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply changes to v0.56.x
  docs/sources/k6/v0.56.x/testing-guides/performance-testing-grpc-services.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

fix the link to the report usage source code (#1847)
  docs/sources/k6/next/set-up/usage-collection.md
  docs/sources/k6/v0.54.x/set-up/usage-collection.md
  docs/sources/k6/v0.55.x/set-up/usage-collection.md
  docs/sources/k6/v0.56.x/set-up/usage-collection.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add gRPC testing guide (#1846)
  docs/sources/k6/next/testing-guides/performance-testing-grpc-services.md
  docs/sources/k6/v0.56.x/testing-guides/performance-testing-grpc-services.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update `make docs` procedure
  docs/make-docs
Due: none

Document the csv parser's asObjects option
  docs/sources/k6/next/javascript-api/k6-experimental/csv/Options.md
  docs/sources/k6/next/javascript-api/k6-experimental/csv/Parser.md
  docs/sources/k6/next/javascript-api/k6-experimental/csv/_index.md
  docs/sources/k6/next/javascript-api/k6-experimental/csv/parse.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Deactivate running csv example scripts (rely on files)
  docs/sources/k6/next/javascript-api/k6-experimental/csv/Options.md
  docs/sources/k6/next/javascript-api/k6-experimental/csv/Parser.md
  docs/sources/k6/next/javascript-api/k6-experimental/csv/parse.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Deactivate additional example scripts
  docs/sources/k6/next/javascript-api/k6-experimental/csv/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update docs/sources/k6/next/javascript-api/k6-experimental/csv/Options.md
  docs/sources/k6/next/javascript-api/k6-experimental/csv/Options.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix
