Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: removed conflicting option from nr docker.
  docs/sources/next/results-output/real-time/newrelic.md
  docs/sources/v0.47.x/results-output/real-time/newrelic.md
  docs/sources/v0.48.x/results-output/real-time/newrelic.md
  docs/sources/v0.49.x/results-output/real-time/newrelic.md
  docs/sources/v0.50.x/results-output/real-time/newrelic.md
  docs/sources/v0.51.x/results-output/real-time/newrelic.md
  docs/sources/v0.52.x/results-output/real-time/newrelic.md
  docs/sources/v0.53.x/results-output/real-time/newrelic.md
  docs/sources/v0.54.x/results-output/real-time/newrelic.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 NewRelic.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Update docs/sources/next/set-up/configure-your-code-editor.md
  docs/sources/next/set-up/configure-your-code-editor.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update Configure your code editor headings and links
  docs/sources/next/set-up/configure-your-code-editor.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply to v0.54.x
  docs/sources/v0.54.x/get-started/_index.md
  docs/sources/v0.54.x/set-up/_index.md
  docs/sources/v0.54.x/set-up/configure-your-code-editor.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply to v0.53.x
  docs/sources/v0.53.x/get-started/_index.md
  docs/sources/v0.53.x/set-up/_index.md
  docs/sources/v0.53.x/set-up/configure-your-code-editor.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Small fix
  docs/sources/next/set-up/configure-your-code-editor.md
  docs/sources/v0.53.x/set-up/configure-your-code-editor.md
  docs/sources/v0.54.x/set-up/configure-your-code-editor.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update docs structure, rename Configure k6 Intellisense page (#1766)
  docs/sources/next/get-started/_index.md
  docs/sources/next/set-up/_index.md
  docs/sources/next/set-up/configure-your-code-editor.md
  docs/sources/v0.53.x/get-started/_index.md
  docs/sources/v0.53.x/set-up/_index.md
  docs/sources/v0.53.x/set-up/configure-your-code-editor.md
  docs/sources/v0.54.x/get-started/_index.md
  docs/sources/v0.54.x/set-up/_index.md
  docs/sources/v0.54.x/set-up/configure-your-code-editor.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Only list extensions available in Grafana k6
  scripts/extension-registry-changed
Due: none

Disable `Algolia` in k6.io/docs
  gatsby-config.js
  src/components/shared/search-box/search-box.view.js
Due: prettier --write, eslint --fix

Disable `Algolia` in k6.io/docs (#1775)
  gatsby-config.js
  src/components/shared/search-box/search-box.view.js
Due: prettier --write, eslint --fix

Add a "Write your first test" page to the Get Started section
  docs/sources/next/get-started/write-your-first-test.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add k6 studio docs folder
  docs/sources/k6-studio/_index.md
  docs/sources/k6-studio/components/_index.md
  docs/sources/k6-studio/components/test-generator.md
  docs/sources/k6-studio/components/test-recorder.md
  docs/sources/k6-studio/components/test-validator.md
  docs/sources/k6-studio/get-started.md
  docs/sources/k6-studio/installation.md
  docs/sources/k6-studio/introduction.md
  docs/sources/k6-studio/troubleshooting.md
  docs/sources/k6-studio/tutorials/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add basic structure to Get started tutorial
  docs/sources/k6-studio/get-started.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update Google Chrome URL
  docs/sources/k6-studio/installation.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fill out Create a test recording for get started guide
  docs/sources/k6-studio/get-started.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

format lists with columns
  docs/sources/next/misc/glossary.md
  docs/sources/next/misc/integrations.md
  docs/sources/v0.54.x/misc/glossary.md
  docs/sources/v0.54.x/misc/integrations.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add content to Components index page
  docs/sources/k6-studio/components/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add content to Test Recorder page
  docs/sources/k6-studio/components/test-recorder.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Split publishing workflows
  .github/workflows/publish-technical-documentation-k6-studio.yml
  .github/workflows/publish-technical-documentation-k6.yml
Due: none

Update script example
  scripts/apply-patch
Due: none

Add k6-studio to Makefile
  docs/sources/k6/_index.md
  docs/variables.mk
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fix doc-validator for k6
  .github/workflows/doc-validator.yml
Due: none

Use awk not grep
  .github/workflows/doc-validator.yml
Due: none

format lists with columns (#1780)
  docs/sources/next/misc/glossary.md
  docs/sources/next/misc/integrations.md
  docs/sources/v0.54.x/misc/glossary.md
  docs/sources/v0.54.x/misc/integrations.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update test recorder action buttons section
  docs/sources/k6-studio/components/test-recorder.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add Test Generator draft
  docs/sources/k6-studio/components/test-generator.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add Test Validator structure
  docs/sources/k6-studio/components/test-validator.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add Test Generator screenshot
  docs/sources/k6-studio/components/test-generator.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add Test Validator draft
  docs/sources/k6-studio/components/test-validator.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Remove k6 studio content
  docs/sources/k6-studio/_index.md
  docs/sources/k6-studio/components/_index.md
  docs/sources/k6-studio/components/test-generator.md
  docs/sources/k6-studio/components/test-recorder.md
  docs/sources/k6-studio/components/test-validator.md
  docs/sources/k6-studio/get-started.md
  docs/sources/k6-studio/troubleshooting.md
  docs/sources/k6-studio/tutorials/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fix card introduction link and descriptions
  docs/sources/k6-studio/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update docs/sources/k6-studio/components/_index.md
  docs/sources/k6-studio/components/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update docs/sources/k6-studio/components/test-generator.md
  docs/sources/k6-studio/components/test-generator.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update docs/sources/k6-studio/components/test-recorder.md
  docs/sources/k6-studio/components/test-recorder.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply to v0.54.x
  docs/sources/k6/v0.54.x/javascript-api/jslib/aws/SQSClient/_index.md
  docs/sources/k6/v0.54.x/javascript-api/jslib/aws/SQSClient/listQueues.md
  docs/sources/k6/v0.54.x/javascript-api/jslib/aws/SQSClient/sendMessage.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fix other instances of SQSClient queuesResponse examples (#1754)
  docs/sources/k6/next/javascript-api/jslib/aws/SQSClient/_index.md
  docs/sources/k6/next/javascript-api/jslib/aws/SQSClient/listQueues.md
  docs/sources/k6/next/javascript-api/jslib/aws/SQSClient/sendMessage.md
  docs/sources/k6/v0.52.x/javascript-api/jslib/aws/SQSClient/_index.md
  docs/sources/k6/v0.52.x/javascript-api/jslib/aws/SQSClient/listQueues.md
  docs/sources/k6/v0.52.x/javascript-api/jslib/aws/SQSClient/sendMessage.md
  docs/sources/k6/v0.54.x/javascript-api/jslib/aws/SQSClient/_index.md
  docs/sources/k6/v0.54.x/javascript-api/jslib/aws/SQSClient/listQueues.md
  docs/sources/k6/v0.54.x/javascript-api/jslib/aws/SQSClient/sendMessage.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Path conditions:
  prettier --parser markdown --write: any of: docs/sources/**/*.md
  eslint -c ./docs/sources/.eslintrc.js --fix: any of: docs/sources/**/*.md
  prettier --write: any of: *.{js,jsx,css,scss}
  eslint --fix: any of: *.{js,jsx}
  eslint -c ./src/data/markdown/.eslintrc.js --fix: any of: src/data/markdown/**/*.{md,mdx}
