Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

.lintstagedrc:

{
  "docs/sources/**/*.md": [
    "prettier --parser markdown --write",
    "eslint -c ./docs/sources/.eslintrc.js --fix"
  ],
  "*.{js,jsx,css,scss}": "prettier --write",
  "*.{js,jsx}": "eslint --fix",
  "src/data/markdown/**/*.{md,mdx}": "eslint -c ./src/data/markdown/.eslintrc.js --fix"
}

Update experimental websocket onping/onpong examples (#1475)
  docs/sources/next/javascript-api/k6-experimental/websockets/websocket/websocket-onping.md
  docs/sources/next/javascript-api/k6-experimental/websockets/websocket/websocket-onpong.md
  docs/sources/v0.47.x/javascript-api/k6-experimental/websockets/websocket/websocket-onping.md
  docs/sources/v0.47.x/javascript-api/k6-experimental/websockets/websocket/websocket-onpong.md
  docs/sources/v0.48.x/javascript-api/k6-experimental/websockets/websocket/websocket-onping.md
  docs/sources/v0.48.x/javascript-api/k6-experimental/websockets/websocket/websocket-onpong.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/05 websockets/10 WebSocket/30-WebSocket-onping.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/05 websockets/10 WebSocket/30-WebSocket-onpong.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Update npm start command to run make docs (#1440)
  CONTRIBUTING/README.md
  CONTRIBUTING/legacy-gatsby-docs/README.md
  README.md
  package.json
Due: none

Usage collection updates
  docs/sources/next/misc/usage-collection.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Make explicit that it is anonymous
  docs/sources/next/misc/usage-collection.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Make explicit that we send data over TLS
  docs/sources/next/misc/usage-collection.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Document imported modules and used outputs report (#1478)
  docs/sources/next/misc/usage-collection.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

k6/html: element gets a folder as well
  docs/sources/next/javascript-api/k6-html/element/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

gRPC protocol updates
  docs/sources/next/using-k6/protocols/grpc.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Porting streams-related docs to k6/net/grpc
  docs/sources/next/javascript-api/k6-net-grpc/_index.md
  docs/sources/next/javascript-api/k6-net-grpc/client/_index.md
  docs/sources/next/javascript-api/k6-net-grpc/stream/_index.md
  docs/sources/next/javascript-api/k6-net-grpc/stream/stream-end.md
  docs/sources/next/javascript-api/k6-net-grpc/stream/stream-error.md
  docs/sources/next/javascript-api/k6-net-grpc/stream/stream-on.md
  docs/sources/next/javascript-api/k6-net-grpc/stream/stream-write.md
  docs/sources/next/shared/grpc-module.md
  docs/sources/next/using-k6/metrics/reference.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Deprecation of the exerimental grpc
  docs/sources/next/javascript-api/k6-experimental/grpc/_index.md
  docs/sources/next/javascript-api/k6-experimental/grpc/client/_index.md
  docs/sources/next/javascript-api/k6-experimental/grpc/client/client-close.md
  docs/sources/next/javascript-api/k6-experimental/grpc/client/client-connect-connect-address-params.md
  docs/sources/next/javascript-api/k6-experimental/grpc/client/client-invoke.md
  docs/sources/next/javascript-api/k6-experimental/grpc/client/client-load-protoset.md
  docs/sources/next/javascript-api/k6-experimental/grpc/client/client-load.md
  docs/sources/next/javascript-api/k6-experimental/grpc/constants.md
  docs/sources/next/javascript-api/k6-experimental/grpc/params.md
  docs/sources/next/javascript-api/k6-experimental/grpc/response.md
  docs/sources/next/javascript-api/k6-experimental/grpc/stream/_index.md
  docs/sources/next/javascript-api/k6-experimental/grpc/stream/stream-end.md
  docs/sources/next/javascript-api/k6-experimental/grpc/stream/stream-error.md
  docs/sources/next/javascript-api/k6-experimental/grpc/stream/stream-on.md
  docs/sources/next/javascript-api/k6-experimental/grpc/stream/stream-write.md
  docs/sources/next/shared/experimental-grpc-module.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Document Element.selection - grafana/k6#3519
  docs/sources/next/javascript-api/k6-html/element/_index.md
  docs/sources/next/javascript-api/k6-html/element/element-selection.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: add CODEOWNERS file
  CODEOWNERS
Due: none

chore: add CODEOWNERS file (#1482)
  CODEOWNERS
Due: none

Improve documentation about open vs closed
  docs/sources/next/using-k6/scenarios/concepts/open-vs-closed.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Document the web dashboard feature
  docs/sources/next/results-output/_index.md
  docs/sources/next/results-output/web-dashboard/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update `make docs` procedure
  docs/make-docs
Due: none

Apply suggestions from code review
  docs/sources/next/javascript-api/k6-experimental/grpc/_index.md
  docs/sources/next/javascript-api/k6-net-grpc/_index.md
  docs/sources/next/javascript-api/k6-net-grpc/stream/_index.md
  docs/sources/next/javascript-api/k6-net-grpc/stream/stream-end.md
  docs/sources/next/javascript-api/k6-net-grpc/stream/stream-error.md
  docs/sources/next/javascript-api/k6-net-grpc/stream/stream-on.md
  docs/sources/next/javascript-api/k6-net-grpc/stream/stream-write.md
  docs/sources/next/shared/experimental-grpc-module.md
  docs/sources/next/using-k6/metrics/reference.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

More description changes
  docs/sources/next/javascript-api/k6-net-grpc/_index.md
  docs/sources/next/javascript-api/k6-net-grpc/client/_index.md
  docs/sources/next/javascript-api/k6-net-grpc/client/client-close.md
  docs/sources/next/javascript-api/k6-net-grpc/client/client-connect-connect-address-params.md
  docs/sources/next/javascript-api/k6-net-grpc/client/client-invoke.md
  docs/sources/next/javascript-api/k6-net-grpc/client/client-load-protoset.md
  docs/sources/next/javascript-api/k6-net-grpc/client/client-load.md
  docs/sources/next/javascript-api/k6-net-grpc/constants.md
  docs/sources/next/javascript-api/k6-net-grpc/params.md
  docs/sources/next/javascript-api/k6-net-grpc/response.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Removes redundunt sentence
  docs/sources/next/javascript-api/k6-net-grpc/stream/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Minor changes on constant-arrival-rate docs
  docs/sources/next/using-k6/scenarios/executors/constant-arrival-rate.md
  docs/sources/v0.47.x/using-k6/scenarios/executors/constant-arrival-rate.md
  docs/sources/v0.48.x/using-k6/scenarios/executors/constant-arrival-rate.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

fix: metric reported in stdout
  docs/sources/next/using-k6/metrics/_index.md
  docs/sources/v0.47.x/using-k6/metrics/_index.md
  docs/sources/v0.48.x/using-k6/metrics/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply suggestions from code review
  docs/sources/next/results-output/web-dashboard/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply suggestions from code review
  docs/sources/next/using-k6/protocols/grpc.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

gRPC protocol updates (#1480)
  docs/sources/next/using-k6/protocols/grpc.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update docs/sources/next/results-output/web-dashboard/_index.md
  docs/sources/next/results-output/web-dashboard/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply suggestions from code review
  docs/sources/next/javascript-api/k6-html/element/_index.md
  docs/sources/next/javascript-api/k6-html/element/element-selection.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update docs/sources/next/javascript-api/k6-html/element/element-selection.md
  docs/sources/next/javascript-api/k6-html/element/element-selection.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add xk6-webtransport extension
  src/data/doc-extensions/extensions.json
Due: none

Add xk6-webtransport
  docs/sources/next/extensions/explore.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add xk6-webtransport extetnsion
  docs/sources/v0.48.x/extensions/explore.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Document element selection - grafana/k6#3519 (#1479)
  docs/sources/next/javascript-api/k6-html/element/_index.md
  docs/sources/next/javascript-api/k6-html/element/element-selection.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: update canonical URLs
  src/data/markdown/translated-guides/en/06 Test Types/02 Load Testing.md
  src/data/markdown/translated-guides/en/06 Test Types/07-breakpoint-testing.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix
