Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

.lintstagedrc:

{
  "docs/sources/**/*.md": [
    "prettier --parser markdown --write",
    "eslint -c ./docs/sources/.eslintrc.js --fix"
  ],
  "*.{js,jsx,css,scss}": "prettier --write",
  "*.{js,jsx}": "eslint --fix",
  "src/data/markdown/**/*.{md,mdx}": "eslint -c ./src/data/markdown/.eslintrc.js --fix"
}

Add sleep page.waitForTimeout doc to v0.52
  docs/sources/v0.52.x/using-k6-browser/recommended-practices/_index.md
  docs/sources/v0.52.x/using-k6-browser/recommended-practices/simulate-user-input-delay.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update simulate user input delay in next section
  docs/sources/next/using-k6-browser/recommended-practices/_index.md
  docs/sources/next/using-k6-browser/recommended-practices/simulate-user-input-delay.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add sleep page.waitFotTimeout doc to v0.53
  docs/sources/v0.53.x/using-k6-browser/recommended-practices/_index.md
  docs/sources/v0.53.x/using-k6-browser/recommended-practices/simulate-user-input-delay.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fix merge issues
  docs/sources/next/using-k6-browser/recommended-practices/simulate-user-input-delay.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update docs/sources/next/set-up/usage-collection.md
  docs/sources/next/set-up/usage-collection.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Document changes around usage collection (#1722)
  docs/sources/next/set-up/usage-collection.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

using /usr/bin/env is usually a bit more portable
  scripts/extension-registry-changed
Due: none

Since we're using Bash, I think local variables can really help with function readabliity
  scripts/extension-registry-changed
Due: none

Quoting to avoid word splitting on paths with spaces
  scripts/extension-registry-changed
Due: none

quoting
  scripts/extension-registry-changed
Due: none

fix: use more portable "mktemp" for temp file creation
  scripts/extension-registry-changed
Due: none

Rename Selecting elements page to Select elements
  docs/sources/next/using-k6-browser/recommended-practices/select-elements.md
  docs/sources/v0.54.x/using-k6-browser/recommended-practices/select-elements.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Rename Selecting elements page to Select elements (#1752)
  docs/sources/next/using-k6-browser/recommended-practices/select-elements.md
  docs/sources/v0.54.x/using-k6-browser/recommended-practices/select-elements.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add v0.54.0 release notes
  docs/sources/next/release-notes/v0.54.0.md
  docs/sources/v0.54.x/release-notes/v0.54.0.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add v0.54.0 release notes (#1753)
  docs/sources/next/release-notes/v0.54.0.md
  docs/sources/v0.54.x/release-notes/v0.54.0.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fix example code of SQSClient (#1733)
  docs/sources/v0.53.x/javascript-api/jslib/aws/SQSClient/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fix other instances of SQSClient queuesResponse examples
  docs/sources/next/javascript-api/jslib/aws/SQSClient/_index.md
  docs/sources/next/javascript-api/jslib/aws/SQSClient/listQueues.md
  docs/sources/next/javascript-api/jslib/aws/SQSClient/sendMessage.md
  docs/sources/v0.54.x/javascript-api/jslib/aws/SQSClient/_index.md
  docs/sources/v0.54.x/javascript-api/jslib/aws/SQSClient/listQueues.md
  docs/sources/v0.54.x/javascript-api/jslib/aws/SQSClient/sendMessage.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fix quoting in heredoc
  scripts/extension-registry-changed
Due: none

Clean up whitespace and indentation
  scripts/extension-registry-changed
Due: none

Refer to the branch name in usage collection
  docs/sources/next/set-up/usage-collection.md
  docs/sources/v0.54.x/set-up/usage-collection.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add link to GitHub source code for all jslib libraries
  docs/sources/next/javascript-api/jslib/aws/_index.md
  docs/sources/next/javascript-api/jslib/http-instrumentation-pyroscope/_index.md
  docs/sources/next/javascript-api/jslib/http-instrumentation-tempo/_index.md
  docs/sources/next/javascript-api/jslib/httpx/_index.md
  docs/sources/next/javascript-api/jslib/k6chaijs/_index.md
  docs/sources/next/javascript-api/jslib/utils/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fix json example in url grouping docs
  docs/sources/next/using-k6/http-requests.md
  docs/sources/v0.47.x/using-k6/http-requests.md
  docs/sources/v0.48.x/using-k6/http-requests.md
  docs/sources/v0.49.x/using-k6/http-requests.md
  docs/sources/v0.50.x/using-k6/http-requests.md
  docs/sources/v0.51.x/using-k6/http-requests.md
  docs/sources/v0.52.x/using-k6/http-requests.md
  docs/sources/v0.53.x/using-k6/http-requests.md
  docs/sources/v0.54.x/using-k6/http-requests.md
  src/data/markdown/translated-guides/en/02 Using k6/01 HTTP requests.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Apply suggestions from code review
  docs/sources/next/javascript-api/jslib/aws/_index.md
  docs/sources/next/javascript-api/jslib/http-instrumentation-pyroscope/_index.md
  docs/sources/next/javascript-api/jslib/http-instrumentation-tempo/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Remove duplicate weight property
  docs/sources/next/javascript-api/jslib/httpx/_index.md
  docs/sources/next/javascript-api/jslib/k6chaijs/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply to v0.54.x
  docs/sources/v0.54.x/javascript-api/jslib/aws/_index.md
  docs/sources/v0.54.x/javascript-api/jslib/http-instrumentation-pyroscope/_index.md
  docs/sources/v0.54.x/javascript-api/jslib/http-instrumentation-tempo/_index.md
  docs/sources/v0.54.x/javascript-api/jslib/httpx/_index.md
  docs/sources/v0.54.x/javascript-api/jslib/k6chaijs/_index.md
  docs/sources/v0.54.x/javascript-api/jslib/utils/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add link to GitHub source code for all jslib libraries (#1757)
  docs/sources/next/javascript-api/jslib/aws/_index.md
  docs/sources/next/javascript-api/jslib/http-instrumentation-pyroscope/_index.md
  docs/sources/next/javascript-api/jslib/http-instrumentation-tempo/_index.md
  docs/sources/next/javascript-api/jslib/httpx/_index.md
  docs/sources/next/javascript-api/jslib/k6chaijs/_index.md
  docs/sources/next/javascript-api/jslib/utils/_index.md
  docs/sources/v0.54.x/javascript-api/jslib/aws/_index.md
  docs/sources/v0.54.x/javascript-api/jslib/http-instrumentation-pyroscope/_index.md
  docs/sources/v0.54.x/javascript-api/jslib/http-instrumentation-tempo/_index.md
  docs/sources/v0.54.x/javascript-api/jslib/httpx/_index.md
  docs/sources/v0.54.x/javascript-api/jslib/k6chaijs/_index.md
  docs/sources/v0.54.x/javascript-api/jslib/utils/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add a new example on waitForEvent
  docs/sources/next/javascript-api/k6-browser/browsercontext/waitforevent.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fixed minor typo.
  docs/sources/next/set-up/fine-tune-os.md
  docs/sources/v0.47.x/misc/fine-tuning-os.md
  docs/sources/v0.48.x/misc/fine-tuning-os.md
  docs/sources/v0.49.x/misc/fine-tuning-os.md
  docs/sources/v0.50.x/set-up/fine-tune-os.md
  docs/sources/v0.51.x/set-up/fine-tune-os.md
  docs/sources/v0.52.x/set-up/fine-tune-os.md
  docs/sources/v0.53.x/set-up/fine-tune-os.md
  docs/sources/v0.54.x/set-up/fine-tune-os.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fix minor typo (#1761)
  docs/sources/next/set-up/fine-tune-os.md
  docs/sources/v0.47.x/misc/fine-tuning-os.md
  docs/sources/v0.48.x/misc/fine-tuning-os.md
  docs/sources/v0.49.x/misc/fine-tuning-os.md
  docs/sources/v0.50.x/set-up/fine-tune-os.md
  docs/sources/v0.51.x/set-up/fine-tune-os.md
  docs/sources/v0.52.x/set-up/fine-tune-os.md
  docs/sources/v0.53.x/set-up/fine-tune-os.md
  docs/sources/v0.54.x/set-up/fine-tune-os.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Added ex for custom cli env exec.
  docs/sources/next/using-k6/scenarios/advanced-examples.md
  docs/sources/v0.47.x/using-k6/scenarios/advanced-examples.md
  docs/sources/v0.48.x/using-k6/scenarios/advanced-examples.md
  docs/sources/v0.49.x/using-k6/scenarios/advanced-examples.md
  docs/sources/v0.50.x/using-k6/scenarios/advanced-examples.md
  docs/sources/v0.51.x/using-k6/scenarios/advanced-examples.md
  docs/sources/v0.52.x/using-k6/scenarios/advanced-examples.md
  docs/sources/v0.53.x/using-k6/scenarios/advanced-examples.md
  docs/sources/v0.54.x/using-k6/scenarios/advanced-examples.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Move Set up section above Get started
  docs/sources/next/get-started/_index.md
  docs/sources/next/set-up/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add "Next steps" section to Configure k6 intellisense
  docs/sources/next/set-up/configure-k6-intellisense.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Rename Configure k6 Intellisense to Configure your code editor
  docs/sources/next/set-up/configure-your-code-editor.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix
