Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Add alias from k6-experimental/browser to k6-browser
  docs/sources/k6/next/javascript-api/k6-browser/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply to v0.55 and v0.54
  docs/sources/k6/v0.54.x/javascript-api/k6-browser/_index.md
  docs/sources/k6/v0.55.x/javascript-api/k6-browser/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add alias from k6-experimental/browser to k6-browser (#1814)
  docs/sources/k6/next/javascript-api/k6-browser/_index.md
  docs/sources/k6/v0.54.x/javascript-api/k6-browser/_index.md
  docs/sources/k6/v0.55.x/javascript-api/k6-browser/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Remove doc-validator workflow
  .github/workflows/doc-validator.yml
Due: none

Fix path to extension registry output file
  scripts/extension-registry-changed
Due: none

Replace grpcbin.test.k6.io with QuickPizza
  docs/sources/k6/next/get-started/resources.md
  docs/sources/k6/next/javascript-api/k6-net-grpc/_index.md
  docs/sources/k6/next/javascript-api/k6-net-grpc/client/_index.md
  docs/sources/k6/next/javascript-api/k6-net-grpc/client/client-connect-connect-address-params.md
  docs/sources/k6/next/javascript-api/k6-net-grpc/constants.md
  docs/sources/k6/next/javascript-api/k6-net-grpc/response.md
  docs/sources/k6/next/testing-guides/api-load-testing.md
  docs/sources/k6/next/testing-guides/injecting-faults-with-xk6-disruptor/examples/inject-grpc-faults-into-service.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Remove doc-validator workflow (#1815)
  .github/workflows/doc-validator.yml
Due: none

Fix path to extension registry output file (#1816)
  scripts/extension-registry-changed
Due: none

Adjust codeowners
  CODEOWNERS
Due: none

Update endpoints
  docs/sources/k6/next/javascript-api/k6-net-grpc/_index.md
  docs/sources/k6/next/javascript-api/k6-net-grpc/client/_index.md
  docs/sources/k6/next/javascript-api/k6-net-grpc/constants.md
  docs/sources/k6/next/javascript-api/k6-net-grpc/response.md
  docs/sources/k6/next/testing-guides/api-load-testing.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply suggestions from code review
  CODEOWNERS
Due: none

Fix `-o cloud` mentions to `--local-execution`
  docs/sources/k6/next/results-output/real-time/cloud.md
  docs/sources/k6/next/testing-guides/running-large-tests.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply to v0.55 and v0.54
  docs/sources/k6/v0.54.x/results-output/real-time/cloud.md
  docs/sources/k6/v0.54.x/testing-guides/running-large-tests.md
  docs/sources/k6/v0.55.x/results-output/real-time/cloud.md
  docs/sources/k6/v0.55.x/testing-guides/running-large-tests.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Fix `-o cloud` mentions to `k6 cloud run --local-execution` (#1819)
  docs/sources/k6/next/results-output/real-time/cloud.md
  docs/sources/k6/next/testing-guides/running-large-tests.md
  docs/sources/k6/v0.54.x/results-output/real-time/cloud.md
  docs/sources/k6/v0.54.x/testing-guides/running-large-tests.md
  docs/sources/k6/v0.55.x/results-output/real-time/cloud.md
  docs/sources/k6/v0.55.x/testing-guides/running-large-tests.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update references to docs/sources/ to include /k6
  .github/pull_request_template.md
  CONTRIBUTING/README.md
Due: none

Update docs/sources/next/get-started/write-your-first-test.md
  docs/sources/next/get-started/write-your-first-test.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Adjust codeowners (#1818)
  CODEOWNERS
Due: none

Apply suggestions from code review
  docs/sources/next/get-started/write-your-first-test.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Specify why users might want to use lifecycle functions
  docs/sources/next/get-started/write-your-first-test.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

[WIP] Delete legacy docs (#1810)
  src/data/markdown/translated-guides/en/01 Get started/02 Installation.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Move Write your first test tutorial to correct location
  docs/sources/k6/next/get-started/write-your-first-test.md
  docs/sources/k6/v0.55.x/get-started/write-your-first-test.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Move Write your first test tutorial to correct location (#1823)
  docs/sources/k6/next/get-started/write-your-first-test.md
  docs/sources/k6/v0.55.x/get-started/write-your-first-test.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply changes to 0.55.x
  docs/sources/k6/v0.55.x/get-started/resources.md
  docs/sources/k6/v0.55.x/javascript-api/k6-net-grpc/_index.md
  docs/sources/k6/v0.55.x/javascript-api/k6-net-grpc/client/_index.md
  docs/sources/k6/v0.55.x/javascript-api/k6-net-grpc/client/client-connect-connect-address-params.md
  docs/sources/k6/v0.55.x/javascript-api/k6-net-grpc/constants.md
  docs/sources/k6/v0.55.x/javascript-api/k6-net-grpc/response.md
  docs/sources/k6/v0.55.x/testing-guides/api-load-testing.md
  docs/sources/k6/v0.55.x/testing-guides/injecting-faults-with-xk6-disruptor/examples/inject-grpc-faults-into-service.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply changes to 0.53.x and 0.54.x
  docs/sources/k6/v0.53.x/get-started/resources.md
  docs/sources/k6/v0.53.x/javascript-api/k6-net-grpc/_index.md
  docs/sources/k6/v0.53.x/javascript-api/k6-net-grpc/client/_index.md
  docs/sources/k6/v0.53.x/javascript-api/k6-net-grpc/client/client-connect-connect-address-params.md
  docs/sources/k6/v0.53.x/javascript-api/k6-net-grpc/constants.md
  docs/sources/k6/v0.53.x/javascript-api/k6-net-grpc/response.md
  docs/sources/k6/v0.53.x/testing-guides/api-load-testing.md
  docs/sources/k6/v0.53.x/testing-guides/injecting-faults-with-xk6-disruptor/examples/inject-grpc-faults-into-service.md
  docs/sources/k6/v0.54.x/get-started/resources.md
  docs/sources/k6/v0.54.x/javascript-api/k6-net-grpc/_index.md
  docs/sources/k6/v0.54.x/javascript-api/k6-net-grpc/client/_index.md
  docs/sources/k6/v0.54.x/javascript-api/k6-net-grpc/client/client-connect-connect-address-params.md
  docs/sources/k6/v0.54.x/javascript-api/k6-net-grpc/constants.md
  docs/sources/k6/v0.54.x/javascript-api/k6-net-grpc/response.md
  docs/sources/k6/v0.54.x/testing-guides/api-load-testing.md
  docs/sources/k6/v0.54.x/testing-guides/injecting-faults-with-xk6-disruptor/examples/inject-grpc-faults-into-service.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update the example in query all.
  docs/sources/k6/next/javascript-api/k6-browser/page/doubledollar.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update queryAll example for v0.52
  docs/sources/k6/v0.52.x/javascript-api/k6-browser/page/doubledollar.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update docs/sources/next/javascript-api/k6-browser/page/doubledollar.md
  docs/sources/k6/next/javascript-api/k6-browser/page/doubledollar.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update queryAll example for v0.53
  docs/sources/k6/v0.54.x/javascript-api/k6-browser/page/doubledollar.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update queryAll example in v0.54 docs
  docs/sources/k6/v0.53.x/javascript-api/k6-browser/page/doubledollar.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update copy for page.queryAll
  docs/sources/k6/next/javascript-api/k6-browser/page/doubledollar.md
  docs/sources/k6/v0.52.x/javascript-api/k6-browser/page/doubledollar.md
  docs/sources/k6/v0.53.x/javascript-api/k6-browser/page/doubledollar.md
  docs/sources/k6/v0.54.x/javascript-api/k6-browser/page/doubledollar.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update page.queryAll for v0.55
  docs/sources/k6/v0.55.x/javascript-api/k6-browser/page/doubledollar.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add link to k6 Studio docs
  docs/sources/k6/next/k6-studio/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Path conditions:
  prettier --parser markdown --write: any of: docs/sources/**/*.md
  eslint -c ./docs/sources/.eslintrc.js --fix: any of: docs/sources/**/*.md
  prettier --write: any of: *.{js,jsx,css,scss}
  eslint --fix: any of: *.{js,jsx}
  eslint -c ./src/data/markdown/.eslintrc.js --fix: any of: src/data/markdown/**/*.{md,mdx}
