Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

.lintstagedrc:

{
  "docs/sources/**/*.md": [
    "prettier --parser markdown --write",
    "eslint -c ./docs/sources/.eslintrc.js --fix"
  ],
  "*.{js,jsx,css,scss}": "prettier --write",
  "*.{js,jsx}": "eslint --fix",
  "src/data/markdown/**/*.{md,mdx}": "eslint -c ./src/data/markdown/.eslintrc.js --fix"
}

fix: remove `slug` from listQueues page
  docs/sources/next/javascript-api/jslib/aws/SQSClient/listQueues.md
  docs/sources/v0.48.x/javascript-api/jslib/aws/SQSClient/listQueues.md
  docs/sources/v0.49.x/javascript-api/jslib/aws/SQSClient/listQueues.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

fix: remove `slug` from sendMessage
  docs/sources/next/javascript-api/jslib/aws/SQSClient/sendMessage.md
  docs/sources/v0.48.x/javascript-api/jslib/aws/SQSClient/sendMessage.md
  docs/sources/v0.49.x/javascript-api/jslib/aws/SQSClient/sendMessage.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

fix: remove unused front matter properties
  docs/sources/v0.49.x/javascript-api/jslib/aws/SQSClient/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

fix: update generateDataKey front matter and links
  docs/sources/next/javascript-api/jslib/aws/KMSClient/KMSDataKey.md
  docs/sources/next/javascript-api/jslib/aws/KMSClient/generateDataKey.md
  docs/sources/v0.47.x/javascript-api/jslib/aws/KMSClient/KMSDataKey.md
  docs/sources/v0.47.x/javascript-api/jslib/aws/KMSClient/generateDataKey.md
  docs/sources/v0.48.x/javascript-api/jslib/aws/KMSClient/KMSDataKey.md
  docs/sources/v0.48.x/javascript-api/jslib/aws/KMSClient/generateDataKey.md
  docs/sources/v0.49.x/javascript-api/jslib/aws/KMSClient/KMSDataKey.md
  docs/sources/v0.49.x/javascript-api/jslib/aws/KMSClient/generateDataKey.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

fix: remove unused grpc-module.md reference
  docs/sources/next/javascript-api/_index.md
  docs/sources/v0.49.x/javascript-api/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

fix: 404s and build errors (#1513)
  docs/sources/next/javascript-api/_index.md
  docs/sources/next/javascript-api/jslib/aws/KMSClient/KMSDataKey.md
  docs/sources/next/javascript-api/jslib/aws/KMSClient/generateDataKey.md
  docs/sources/next/javascript-api/jslib/aws/SQSClient/listQueues.md
  docs/sources/next/javascript-api/jslib/aws/SQSClient/sendMessage.md
  docs/sources/v0.47.x/javascript-api/jslib/aws/KMSClient/KMSDataKey.md
  docs/sources/v0.47.x/javascript-api/jslib/aws/KMSClient/generateDataKey.md
  docs/sources/v0.48.x/javascript-api/jslib/aws/KMSClient/KMSDataKey.md
  docs/sources/v0.48.x/javascript-api/jslib/aws/KMSClient/generateDataKey.md
  docs/sources/v0.48.x/javascript-api/jslib/aws/SQSClient/listQueues.md
  docs/sources/v0.48.x/javascript-api/jslib/aws/SQSClient/sendMessage.md
  docs/sources/v0.49.x/javascript-api/_index.md
  docs/sources/v0.49.x/javascript-api/jslib/aws/KMSClient/KMSDataKey.md
  docs/sources/v0.49.x/javascript-api/jslib/aws/KMSClient/generateDataKey.md
  docs/sources/v0.49.x/javascript-api/jslib/aws/SQSClient/_index.md
  docs/sources/v0.49.x/javascript-api/jslib/aws/SQSClient/listQueues.md
  docs/sources/v0.49.x/javascript-api/jslib/aws/SQSClient/sendMessage.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

fix typo in 07 Modules.md
  src/data/markdown/translated-guides/en/02 Using k6/07 Modules.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: remove null return value from page.$$ docs
  docs/sources/next/javascript-api/k6-experimental/browser/page/doubledollar.md
  docs/sources/v0.49.x/javascript-api/k6-experimental/browser/page/doubledollar.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: remove null return value from page.$$ docs (#1515)
  docs/sources/next/javascript-api/k6-experimental/browser/page/doubledollar.md
  docs/sources/v0.49.x/javascript-api/k6-experimental/browser/page/doubledollar.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: fix aliases
  docs/sources/next/javascript-api/jslib/aws/KMSClient/generateDataKey.md
  docs/sources/next/javascript-api/jslib/aws/SQSClient/listQueues.md
  docs/sources/next/javascript-api/jslib/aws/SQSClient/sendMessage.md
  docs/sources/v0.47.x/javascript-api/jslib/aws/KMSClient/generateDataKey.md
  docs/sources/v0.48.x/javascript-api/jslib/aws/KMSClient/generateDataKey.md
  docs/sources/v0.48.x/javascript-api/jslib/aws/SQSClient/listQueues.md
  docs/sources/v0.48.x/javascript-api/jslib/aws/SQSClient/sendMessage.md
  docs/sources/v0.49.x/javascript-api/jslib/aws/KMSClient/generateDataKey.md
  docs/sources/v0.49.x/javascript-api/jslib/aws/SQSClient/listQueues.md
  docs/sources/v0.49.x/javascript-api/jslib/aws/SQSClient/sendMessage.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: remove linkinator GitHub Action
  .github/workflows/staging.yml
Due: none

chore: remove linkinator GitHub Action (#1516)
  .github/workflows/staging.yml
Due: none

Update `make docs` procedure
  docs/make-docs
Due: none

chore: add absolute URL path next to aliases
  docs/sources/next/javascript-api/jslib/aws/KMSClient/generateDataKey.md
  docs/sources/next/javascript-api/jslib/aws/SQSClient/listQueues.md
  docs/sources/next/javascript-api/jslib/aws/SQSClient/sendMessage.md
  docs/sources/v0.47.x/javascript-api/jslib/aws/KMSClient/generateDataKey.md
  docs/sources/v0.48.x/javascript-api/jslib/aws/KMSClient/generateDataKey.md
  docs/sources/v0.48.x/javascript-api/jslib/aws/SQSClient/listQueues.md
  docs/sources/v0.48.x/javascript-api/jslib/aws/SQSClient/sendMessage.md
  docs/sources/v0.49.x/javascript-api/jslib/aws/KMSClient/generateDataKey.md
  docs/sources/v0.49.x/javascript-api/jslib/aws/SQSClient/listQueues.md
  docs/sources/v0.49.x/javascript-api/jslib/aws/SQSClient/sendMessage.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: fix aliases (#1517)
  docs/sources/next/javascript-api/jslib/aws/KMSClient/generateDataKey.md
  docs/sources/next/javascript-api/jslib/aws/SQSClient/listQueues.md
  docs/sources/next/javascript-api/jslib/aws/SQSClient/sendMessage.md
  docs/sources/v0.47.x/javascript-api/jslib/aws/KMSClient/generateDataKey.md
  docs/sources/v0.48.x/javascript-api/jslib/aws/KMSClient/generateDataKey.md
  docs/sources/v0.48.x/javascript-api/jslib/aws/SQSClient/listQueues.md
  docs/sources/v0.48.x/javascript-api/jslib/aws/SQSClient/sendMessage.md
  docs/sources/v0.49.x/javascript-api/jslib/aws/KMSClient/generateDataKey.md
  docs/sources/v0.49.x/javascript-api/jslib/aws/SQSClient/listQueues.md
  docs/sources/v0.49.x/javascript-api/jslib/aws/SQSClient/sendMessage.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update 100 Cloud options.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/300 Cloud scripting extras/100 Cloud options.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: add DOCS_IMAGE to variables.mk
  docs/variables.mk
Due: none

chore: add DOCS_IMAGE to variables.mk (#1519)
  docs/variables.mk
Due: none

Update of the "Load Zones" link in the "Could options" document (#1518)
  src/data/markdown/docs/03 cloud/01 Creating and running a test/300 Cloud scripting extras/100 Cloud options.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: fix code block in workaround-iteration-duration
  docs/sources/next/using-k6/workaround-iteration-duration.md
  docs/sources/v0.48.x/using-k6/workaround-iteration-duration.md
  docs/sources/v0.49.x/using-k6/workaround-iteration-duration.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: fix code block in workaround-iteration-duration (#1521)
  docs/sources/next/using-k6/workaround-iteration-duration.md
  docs/sources/v0.48.x/using-k6/workaround-iteration-duration.md
  docs/sources/v0.49.x/using-k6/workaround-iteration-duration.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: update CONTRIBUTING and PR template with number of supported versions (#1512)
  .github/pull_request_template.md
  CONTRIBUTING/README.md
Due: none

Document JWK keys export/import with examples
  docs/sources/next/javascript-api/k6-experimental/webcrypto/subtlecrypto/exportkey.md
  docs/sources/next/javascript-api/k6-experimental/webcrypto/subtlecrypto/importkey.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Actualize checklist
  .github/pull_request_template.md
Due: none

Actualize checklist (#1524)
  .github/pull_request_template.md
Due: none

Introducing options.cloud
  docs/sources/next/using-k6/k6-options/reference.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply suggestions from code review
  docs/sources/next/javascript-api/k6-experimental/webcrypto/subtlecrypto/importkey.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update docs/sources/next/javascript-api/k6-experimental/webcrypto/subtlecrypto/importkey.md
  docs/sources/next/javascript-api/k6-experimental/webcrypto/subtlecrypto/importkey.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add page.setInputFiles to next doc
  docs/sources/next/javascript-api/k6-experimental/browser/page/setinputfiles.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add setInputFiles to the page index menu
  docs/sources/next/javascript-api/k6-experimental/browser/page/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add doc for frame.setInputFiles
  docs/sources/next/javascript-api/k6-experimental/browser/frame/_index.md
  docs/sources/next/javascript-api/k6-experimental/browser/frame/setinputfiles.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add doc for elementHandle.setInputFiles
  docs/sources/next/javascript-api/k6-experimental/browser/elementhandle/_index.md
  docs/sources/next/javascript-api/k6-experimental/browser/elementhandle/setinputfiles.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Basic graduation of k6/timers docs
  docs/sources/next/javascript-api/k6-experimental/timers.md
  docs/sources/next/javascript-api/k6-timers/_index.md
  docs/sources/next/shared/experimental-timers-module.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Examples: fix `jslib` link
  docs/sources/next/examples/url-query-parameters.md
  docs/sources/v0.47.x/examples/url-query-parameters.md
  docs/sources/v0.48.x/examples/url-query-parameters.md
  docs/sources/v0.49.x/examples/url-query-parameters.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add browserContext.addInitScript to v0.49.0 docs
  docs/sources/v0.49.x/javascript-api/k6-experimental/browser/browsercontext/_index.md
  docs/sources/v0.49.x/javascript-api/k6-experimental/browser/browsercontext/addinitscript.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add browserContext.addInitScript to v0.47.0 docs
  docs/sources/v0.47.x/javascript-api/k6-experimental/browser/browsercontext/_index.md
  docs/sources/v0.47.x/javascript-api/k6-experimental/browser/browsercontext/addinitscript.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply suggestions from code review
  docs/sources/next/javascript-api/k6-experimental/browser/browsercontext/addinitscript.md
  docs/sources/v0.47.x/javascript-api/k6-experimental/browser/browsercontext/addinitscript.md
  docs/sources/v0.48.x/javascript-api/k6-experimental/browser/browsercontext/addinitscript.md
  docs/sources/v0.49.x/javascript-api/k6-experimental/browser/browsercontext/addinitscript.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add doc for browserContext.addInitScript
  docs/sources/next/javascript-api/k6-experimental/browser/browsercontext/addinitscript.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add links to the other classes for addInitScript
  docs/sources/next/javascript-api/k6-experimental/browser/browsercontext/addinitscript.md
  docs/sources/v0.47.x/javascript-api/k6-experimental/browser/browsercontext/addinitscript.md
  docs/sources/v0.48.x/javascript-api/k6-experimental/browser/browsercontext/addinitscript.md
  docs/sources/v0.49.x/javascript-api/k6-experimental/browser/browsercontext/addinitscript.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Add addInitScript in browserContext index menu
  docs/sources/next/javascript-api/k6-experimental/browser/browsercontext/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix
