Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix, prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Update Browser API migration to async note
  docs/sources/next/using-k6-browser/running-browser-tests.md
  docs/sources/v0.52.x/using-k6-browser/running-browser-tests.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Remove note about Browser API not being available in Cloud
  docs/sources/next/using-k6-browser/running-browser-tests.md
  docs/sources/v0.52.x/using-k6-browser/running-browser-tests.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Style fix
  docs/sources/next/using-k6-browser/running-browser-tests.md
  docs/sources/v0.52.x/using-k6-browser/running-browser-tests.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update Browser API migration to async note (#1638)
  docs/sources/next/using-k6-browser/running-browser-tests.md
  docs/sources/v0.52.x/using-k6-browser/running-browser-tests.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

docs: update running-browser-tests.md (#1634)
  docs/sources/next/using-k6-browser/running-browser-tests.md
  docs/sources/v0.49.x/using-k6-browser/running-browser-tests.md
  docs/sources/v0.50.x/using-k6-browser/running-browser-tests.md
  docs/sources/v0.51.x/using-k6-browser/running-browser-tests.md
  docs/sources/v0.52.x/using-k6-browser/running-browser-tests.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: replaces instances of k6-operator with k6 Operator
  docs/sources/v0.50.x/set-up/set-up-distributed-k6/_index.md
  docs/sources/v0.50.x/set-up/set-up-distributed-k6/install-k6-operator.md
  docs/sources/v0.50.x/set-up/set-up-distributed-k6/troubleshooting.md
  docs/sources/v0.50.x/set-up/set-up-distributed-k6/upgrade-k6-operator.md
  docs/sources/v0.50.x/set-up/set-up-distributed-k6/usage/common-options.md
  docs/sources/v0.50.x/set-up/set-up-distributed-k6/usage/executing-k6-scripts-with-testrun-crd.md
  docs/sources/v0.50.x/set-up/set-up-distributed-k6/usage/extensions.md
  docs/sources/v0.50.x/set-up/set-up-distributed-k6/usage/scheduling-tests.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: add uninstall instructions
  docs/sources/v0.50.x/set-up/set-up-distributed-k6/install-k6-operator.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: hide Upgrade k6 Operator page
  docs/sources/v0.50.x/set-up/set-up-distributed-k6/upgrade-k6-operator.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: add Use the k6 operator with Grafana Cloud k6 page
  docs/sources/v0.50.x/set-up/set-up-distributed-k6/usage/k6-operator-to-gck6.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: add Grafana Cloud k6 page to next and v0.52
  docs/sources/next/grafana-cloud-k6/_index.md
  docs/sources/v0.52.x/grafana-cloud-k6/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: review troubleshooting doc
  docs/sources/v0.50.x/set-up/set-up-distributed-k6/troubleshooting.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: update Namespaced deployment heading to Watch namespace
  docs/sources/v0.50.x/set-up/set-up-distributed-k6/install-k6-operator.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update `make docs` procedure
  docs/make-docs
Due: none

Remove note about Browser API not being available in Cloud (#1639)
  docs/sources/next/using-k6-browser/running-browser-tests.md
  docs/sources/v0.52.x/using-k6-browser/running-browser-tests.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Remove old versioned pages + logs to discover pages
  gatsby-node.js
  src/utils/versioning.js
Due: prettier --write, eslint --fix

Update footer
  src/components/blocks/footer/footer.view.js
  src/layouts/doc-layout/doc-layout.view.js
Due: prettier --write, eslint --fix

Update header menu
  gatsby-node.js
Due: prettier --write, eslint --fix

Update homepage
  src/components/pages/doc-welcome/use-cases/use-cases.view.js
  src/templates/docs/guides.js
Due: prettier --write, eslint --fix

Examples
  src/data/markdown/docs/05 Examples/01 Examples/01 single-request.md
  src/data/markdown/docs/05 Examples/01 Examples/02 http-authentication.md
  src/data/markdown/docs/05 Examples/01 Examples/03 oauth-authentication.md
  src/data/markdown/docs/05 Examples/01 Examples/04 correlation-and-dynamic-data.md
  src/data/markdown/docs/05 Examples/01 Examples/05 data-parameterization.md
  src/data/markdown/docs/05 Examples/01 Examples/06 parse-html.md
  src/data/markdown/docs/05 Examples/01 Examples/07 html-forms.md
  src/data/markdown/docs/05 Examples/01 Examples/08 cookies-example.md
  src/data/markdown/docs/05 Examples/01 Examples/09 data-uploads.md
  src/data/markdown/docs/05 Examples/01 Examples/10 api-crud-operations.md
  src/data/markdown/docs/05 Examples/01 Examples/11 generating-uuids.md
  src/data/markdown/docs/05 Examples/01 Examples/12 http2.md
  src/data/markdown/docs/05 Examples/01 Examples/13 websockets.md
  src/data/markdown/docs/05 Examples/01 Examples/14 soap.md
  src/data/markdown/docs/05 Examples/01 Examples/15 tls.md
  src/data/markdown/docs/05 Examples/01 Examples/19 functional testing.md
  src/data/markdown/docs/05 Examples/01 Examples/20 tracking-data-per-url.md
  src/data/markdown/docs/05 Examples/01 Examples/21 URL query parameters.md
  src/data/markdown/docs/05 Examples/01 Examples/22 instant-load-increase.md
  src/data/markdown/docs/05 Examples/01 Examples/23 get-timings-for-an-http-metric.md
  src/data/markdown/docs/05 Examples/01 Examples/24 distribute-workloads.md
  src/data/markdown/docs/05 Examples/02 Tutorials.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/100 Test-for-functional-behavior.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/200 Test for performance.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/300 Analyze results.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/400 Reuse and re-run tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update params.md in current
  docs/sources/v0.52.x/javascript-api/k6-http/params.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update params.md in next
  docs/sources/next/javascript-api/k6-http/params.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: add release notes folder and v0.52 release notes
  docs/sources/next/misc/release-notes.md
  docs/sources/next/release-notes/_index.md
  docs/sources/next/release-notes/v0.52.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: reorder sections
  docs/sources/next/get-started/_index.md
  docs/sources/next/release-notes/_index.md
  docs/sources/next/set-up/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Document HTTP headers structure
  docs/sources/next/javascript-api/k6-http/response/_index.md
  docs/sources/v0.47.x/javascript-api/k6-http/response/_index.md
  docs/sources/v0.48.x/javascript-api/k6-http/response/_index.md
  docs/sources/v0.49.x/javascript-api/k6-http/response/_index.md
  docs/sources/v0.50.x/javascript-api/k6-http/response/_index.md
  docs/sources/v0.51.x/javascript-api/k6-http/response/_index.md
  docs/sources/v0.52.x/javascript-api/k6-http/response/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update Grafana k6 doc homepage
  docs/sources/v0.52.x/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Remove exclamation mark
  docs/sources/v0.52.x/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Apply to next
  docs/sources/next/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Update the homepage of the k6 OSS documentation (#1646)
  docs/sources/next/_index.md
  docs/sources/v0.52.x/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: add link to k6 repo release notes folder
  docs/sources/next/release-notes/_index.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

chore: add release-notes folder to eslintignore
  .eslintignore
Due: none

chore: add release notes for the last 6 versions
  docs/sources/next/release-notes/_index.md
  docs/sources/next/release-notes/v0.47.0.md
  docs/sources/next/release-notes/v0.48.0.md
  docs/sources/next/release-notes/v0.49.0.md
  docs/sources/next/release-notes/v0.50.0.md
  docs/sources/next/release-notes/v0.51.0.md
  docs/sources/next/release-notes/v0.52.0.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Set `weight` to order the release notes list
  docs/sources/next/release-notes/v0.47.0.md
  docs/sources/next/release-notes/v0.48.0.md
  docs/sources/next/release-notes/v0.49.0.md
  docs/sources/next/release-notes/v0.50.0.md
  docs/sources/next/release-notes/v0.51.0.md
  docs/sources/next/release-notes/v0.52.0.md
Due: prettier --parser markdown --write, eslint -c ./docs/sources/.eslintrc.js --fix

Added AttentionBlockquote
  src/components/pages/doc-welcome/outdated-blockquote/index.js
  src/components/pages/doc-welcome/outdated-blockquote/outdated-blockquote.view.js
  src/templates/docs/guides.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --parser markdown --write: any of: docs/sources/**/*.md
  eslint -c ./docs/sources/.eslintrc.js --fix: any of: docs/sources/**/*.md
  prettier --write: any of: *.{js,jsx,css,scss}
  eslint --fix: any of: *.{js,jsx}
  eslint -c ./src/data/markdown/.eslintrc.js --fix: any of: src/data/markdown/**/*.{md,mdx}
